/* Common styles */

/*=================================================== fonts=====================================*/
@font-face {
  font-family: 'DMSans', sans-serif;
  src: url(/src/fonts/DMSans-Regular.woff), url(/src/fonts/DMSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DMSans', sans-serif;
  src: url(/src/fonts/DMSans-Italic.woff), url(/src/fonts/DMSans-Italic.woff2);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'DMSans', sans-serif;
  src: url(/src/fonts/DMSans-Medium.woff), url(/src/fonts/DMSans-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DMSans', sans-serif;
  src: url(/src/fonts/DMSans-MediumItalic.woff),
    url(/src/fonts/DMSans-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'DMSans', sans-serif;
  src: url(/src/fonts/DMSans-Bold.woff), url(/src/fonts/DMSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DMSans', sans-serif;
  src: url(/src/fonts/DMSans-BoldItalic.woff),
    url(/src/fonts/DMSans-BoldItalic.woff2);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Geometria', sans-serif;
  src: url(/src/fonts/Geometria-Regular.woff),
    url(/src/fonts/Geometria-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*=========================================fonts==================================================*/

body {
  background-color: var(--light-background-color-primary);
  color: var(--dark-theme-color-primary);
  font-family: var(--primary-font-family);
}
