<div class="container">
    <!--=========================================MOBILE-MENU================================================-->
    <div class="mobile-menu js-menu-container" id="mobile-menu" data-menu>
      <div class="mobile-menu-container container">
        <div class="mob-menu-header-wrapper">
          <button
            class="mobile-menu-close-btn js-close-menu"
            type="button"
            data-menu-close
          >
            <svg class="mobile-menu-close-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-close"></use>
            </svg>
          </button>
          <a href="./index.html" class="mob-logo-header-link link"
            >Mimino<br /><span class="mob-logo-header-piece"
              >restaurant-hotel complex</span
            ></a
          >
          </div>
        <nav class="mobile-menu-navigation">
          <ul class="mobile-menu-list list">
            <li class="mobile-menu-item">
              <a href="./index.html" class="mobile-menu-item-link link">Home</a>
            </li>
            <li class="mobile-menu-item">
              <a href="./hotel.html" class="mobile-menu-item-link link"
                >Hotel</a
              >
            </li>
            <li class="mobile-menu-item">
              <a
                href="./restaurant.html"
                class="mobile-menu-item-link current link"
                >Restaurant</a
              >
            </li>
          </ul>
        </nav>
        <ul class="mobile-menu-soc-list list">
          <li class="mobile-menu-soc-list-item">
            <a
              href="https://www.instagram.com"
              class="mobile-menu-soc-link link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="mobile-menu-soc-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-soc-list-item">
            <a
              href="https://www.facebook.com"
              class="mobile-menu-soc-link link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="mobile-menu-soc-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-soc-list-item">
            <a
              href="https://www.twitter.com"
              class="mobile-menu-soc-link link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="mobile-menu-soc-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
