<!-- Section About kitchen Restaurant page -->
<section class="section-about-restaurant">
  <div class="container">
    <div class="about-restaurant-wrap">
      <h2 class="visually-hidden">About Restaurant</h2>
      <div class="pic-wrapper">
        <picture>
          <source
            srcset="
              ./img/restaurant-about/restaurant-about-1-1x-335.webp   335w,
              ./img/restaurant-about/restaurant-about-1-1x-388.webp   388w,
              ./img/restaurant-about/restaurant-about-1-1x-511.webp   511w,
              ./img/restaurant-about/restaurant-about-1-2x-670.webp   670w,
              ./img/restaurant-about/restaurant-about-1-2x-776.webp   776w,
              ./img/restaurant-about/restaurant-about-1-3x-1005.webp 1005w,
              ./img/restaurant-about/restaurant-about-1-2x-1022.webp 1022w,
              ./img/restaurant-about/restaurant-about-1-3x-1164.webp 1164w,
              ./img/restaurant-about/restaurant-about-1-3x-1533.webp 1533w
            "
            sizes="(min-width: 1440px) 511px, (min-width: 768px) 388px, (min-width: 375px) 335px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-about/restaurant-about-1-1x-335.jpg   335w,
              ./img/restaurant-about/restaurant-about-1-1x-388.jpg   388w,
              ./img/restaurant-about/restaurant-about-1-1x-511.jpg   511w,
              ./img/restaurant-about/restaurant-about-1-2x-670.jpg   670w,
              ./img/restaurant-about/restaurant-about-1-2x-776.jpg   776w,
              ./img/restaurant-about/restaurant-about-1-3x-1005.jpg 1005w,
              ./img/restaurant-about/restaurant-about-1-2x-1022.jpg 1022w,
              ./img/restaurant-about/restaurant-about-1-3x-1164.jpg 1164w,
              ./img/restaurant-about/restaurant-about-1-3x-1533.jpg 1533w
            "
            sizes="(min-width: 1440px) 511px, (min-width: 768px) 388px, (min-width: 375px) 335px, 100vw"
            type="image/jpeg"
          />
          <img
            class="cooker"
            src="./img/restaurant-about/restaurant-about-1-1x-335.jpg"
            alt="cooker"
            loading="lazy"
          />
        </picture>
        <div class="about-restaurant-list">
          <picture>
            <source
              srcset="
                ./img/restaurant-about/restaurant-about-2-1x-158.webp   158w,
                ./img/restaurant-about/restaurant-about-2-1x-284.webp   284w,
                ./img/restaurant-about/restaurant-about-2-1x-334.webp   334w,
                ./img/restaurant-about/restaurant-about-2-2x-316.webp   316w,
                ./img/restaurant-about/restaurant-about-2-3x-474.webp   474w,
                ./img/restaurant-about/restaurant-about-2-2x-568.webp   568w,
                ./img/restaurant-about/restaurant-about-2-2x-668.webp   668w,
                ./img/restaurant-about/restaurant-about-2-3x-852.webp   852w,
                ./img/restaurant-about/restaurant-about-2-3x-1002.webp 1002w
              "
              sizes="(min-width: 1440px) 334px, (min-width: 768px) 284px, (min-width: 320px) 158px, 100vw"
              type="image/webp"
            />
            <source
              srcset="
                ./img/restaurant-about/restaurant-about-2-1x-158.jpg   158w,
                ./img/restaurant-about/restaurant-about-2-1x-284.jpg   284w,
                ./img/restaurant-about/restaurant-about-2-2x-316.jpg   316w,
                ./img/restaurant-about/restaurant-about-2-1x-334.jpg   334w,
                ./img/restaurant-about/restaurant-about-2-3x-474.jpg   474w,
                ./img/restaurant-about/restaurant-about-2-2x-568.jpg   568w,
                ./img/restaurant-about/restaurant-about-2-2x-668.jpg   668w,
                ./img/restaurant-about/restaurant-about-2-3x-852.jpg   852w,
                ./img/restaurant-about/restaurant-about-2-3x-1002.jpg 1002w
              "
              sizes="(min-width: 1440px) 334px, (min-width: 768px) 284px, (min-width: 320px) 158px, 100vw"
              type="image/jpeg"
            />
            <img
              class="rest-meat"
              src="./img/restaurant-about/restaurant-about-2-1x-158.jpg"
              alt="meat"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              srcset="
                ./img/restaurant-about/restaurant-about-3-1x-157.webp   157w,
                ./img/restaurant-about/restaurant-about-3-1x-284.webp   284w,
                ./img/restaurant-about/restaurant-about-3-2x-314.webp   314w,
                ./img/restaurant-about/restaurant-about-3-1x-467.webp   467w,
                ./img/restaurant-about/restaurant-about-3-3x-471.webp   471w,
                ./img/restaurant-about/restaurant-about-3-2x-568.webp   568w,
                ./img/restaurant-about/restaurant-about-3-3x-852.webp   852w,
                ./img/restaurant-about/restaurant-about-3-2x-934.webp   934w,
                ./img/restaurant-about/restaurant-about-3-3x-1401.webp 1401w
              "
              sizes="(min-width: 1440px) 467px, (min-width: 768px) 284px, (min-width: 320px) 157px, 100vw"
              type="image/webp"
            />
            <source
              srcset="
                ./img/restaurant-about/restaurant-about-3-1x-157.jpg   157w,
                ./img/restaurant-about/restaurant-about-3-1x-284.jpg   284w,
                ./img/restaurant-about/restaurant-about-3-2x-314.jpg   314w,
                ./img/restaurant-about/restaurant-about-3-1x-467.jpg   467w,
                ./img/restaurant-about/restaurant-about-3-3x-471.jpg   471w,
                ./img/restaurant-about/restaurant-about-3-2x-568.jpg   568w,
                ./img/restaurant-about/restaurant-about-3-3x-852.jpg   852w,
                ./img/restaurant-about/restaurant-about-3-2x-934.jpg   934w,
                ./img/restaurant-about/restaurant-about-3-3x-1401.jpg 1401w
              "
              sizes="(min-width: 1440px) 467px, (min-width: 768px) 284px, (min-width: 320px) 157px, 100vw"
              type="image/jpeg"
            />
            <img
              class="cocktail"
              src="./img/restaurant-about/restaurant-about-3-1x-157.jpg"
              alt="cocktail"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="about-restaurant-list-text">
        <p class="about-restaurant-text text-margin">
          At Mimino, we are experts in
          <span class="italic">meat preparation</span>. Our chefs use only the
          finest and freshest ingredients
          <span class="italic">to create delicious dishes</span> that showcase
          the flavors of premium cuts of meat.
        </p>
        <p class="about-restaurant-text">
          Our <span class="italic">slow-cooking process</span> and expert
          seasoning bring out the best in each dish, making for an unforgettable
          dining experience. Come taste the magic
          <span class="italic">of meat preparation at</span> Mimino.
        </p>
      </div>
    </div>
  </div>
</section>
