<!-- Section About kitchen Restaurant page -->
<section class="about-restautant">
    <img class="cooker" srcset="" src="" alt="">
    <ul class="about-restaurant-list">
        <li class="about-restaurant-item">
            <img class="meat" srcset="" src="" alt="">
            <p class="about-restautant-text-left"></p>
        </li>
        <li class="about-restaurant-item">
            <img class="cocktail" srcset="" src="" alt="">
            <p class="about-restautant-text-right"></p>
        </li>
    </ul>
</section>