<!-- Hero Section Restaurant page -->

<section class="slider-container hero3">
    <div class="hero3-good">
      <h1 class="hero3-title">Restaurant</h1>
      <div class="hero3-buttons">
        <button class="hero3-button btn button-white" data-modal-table-open-c>Book a table</button>
        <a class="hero3-button-link btn button-white" href="#restaurant-menu">View a menu</a>
      </div>
    </div>

    <div class="hero-slider hero-restaurant-slider multiply-items multiply-items-restaurant">
      <div>
        <picture>
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-1-desc-1x-436.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-1-desc-2x-872.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-1-desc-3x-1308.webp 3x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-1-desc-1x-436.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-1-desc-2x-872.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-1-desc-3x-1308.jpg 3x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-1-tab-1x-436.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-1-tab-2x-872.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-1-tab-3x-1308.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-1-tab-1x-436.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-1-tab-2x-872.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-1-tab-3x-1308.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-1-mob-1x-250.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-1-mob-2x-500.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-1-mob-3x-750.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-1-mob-1x-250.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-1-mob-2x-500.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-1-mob-3x-750.jpg 3x
            "
            type="image/jpeg"
          />
          <img src="./img/restaurant-hero/restaurant-hero-slider-1-desc-1x-436.jpg" alt="Restaurant table">
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-2-desc-1x-436.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-2-desc-2x-872.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-2-desc-3x-1308.webp 3x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-2-desc-1x-436.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-2-desc-2x-872.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-2-desc-3x-1308.jpg 3x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-2-tab-1x-436.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-2-tab-2x-872.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-2-tab-3x-1308.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-2-tab-1x-436.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-2-tab-2x-872.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-2-tab-3x-1308.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-2-mob-1x-250.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-2-mob-2x-500.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-2-mob-3x-750.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-2-mob-1x-250.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-2-mob-2x-500.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-2-mob-3x-750.jpg 3x
            "
            type="image/jpeg"
          />
          <img src="./img/restaurant-hero/restaurant-hero-slider-2-desc-1x-436.jpg" alt="Restaurant food">
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-3-desc-1x-436.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-3-desc-2x-872.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-3-desc-3x-1308.webp 3x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-3-desc-1x-436.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-3-desc-2x-872.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-3-desc-3x-1308.jpg 3x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-3-tab-1x-436.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-3-tab-2x-872.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-3-tab-3x-1308.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-3-tab-1x-436.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-3-tab-2x-872.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-3-tab-3x-1308.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-3-mob-1x-250.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-3-mob-2x-500.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-3-mob-3x-750.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-3-mob-1x-250.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-3-mob-2x-500.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-3-mob-3x-750.jpg 3x
            "
            type="image/jpeg"
          />
          <img src="./img/restaurant-hero/restaurant-hero-slider-3-desc-1x-436.jpg" alt="Restaurant kitchen process">
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-4-desc-1x-436.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-4-desc-2x-872.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-4-desc-3x-1308.webp 3x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-4-desc-1x-436.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-4-desc-2x-872.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-4-desc-3x-1308.jpg 3x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-4-tab-1x-436.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-4-tab-2x-872.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-4-tab-3x-1308.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-4-tab-1x-436.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-4-tab-2x-872.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-4-tab-3x-1308.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-4-mob-1x-250.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-4-mob-2x-500.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-4-mob-3x-750.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-4-mob-1x-250.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-4-mob-2x-500.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-4-mob-3x-750.jpg 3x
            "
            type="image/jpeg"
          />
          <img src="./img/restaurant-hero/restaurant-hero-slider-4-desc-1x-436.jpg" alt="Restaurant relax sign">
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-5-desc-1x-436.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-5-desc-2x-872.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-5-desc-3x-1308.webp 3x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-5-desc-1x-436.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-5-desc-2x-872.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-5-desc-3x-1308.jpg 3x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-5-tab-1x-436.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-5-tab-2x-872.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-5-tab-3x-1308.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-5-tab-1x-436.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-5-tab-2x-872.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-5-tab-3x-1308.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-5-mob-1x-250.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-5-mob-2x-500.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-5-mob-3x-750.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-5-mob-1x-250.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-5-mob-2x-500.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-5-mob-3x-750.jpg 3x
            "
            type="image/jpeg"
          />
          <img src="./img/restaurant-hero/restaurant-hero-slider-5-desc-1x-436.jpg" alt="Bar section">
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-6-desc-1x-436.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-6-desc-2x-872.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-6-desc-3x-1308.webp 3x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-6-desc-1x-436.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-6-desc-2x-872.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-6-desc-3x-1308.jpg 3x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-6-tab-1x-436.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-6-tab-2x-872.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-6-tab-3x-1308.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-6-tab-1x-436.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-6-tab-2x-872.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-6-tab-3x-1308.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-6-mob-1x-250.webp 1x,
              ./img/restaurant-hero/restaurant-hero-slider-6-mob-2x-500.webp 2x,
              ./img/restaurant-hero/restaurant-hero-slider-6-mob-3x-750.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/restaurant-hero/restaurant-hero-slider-6-mob-1x-250.jpg 1x,
              ./img/restaurant-hero/restaurant-hero-slider-6-mob-2x-500.jpg 2x,
              ./img/restaurant-hero/restaurant-hero-slider-6-mob-3x-750.jpg 3x
            "
            type="image/jpeg"
          />
          <img src="./img/restaurant-hero/restaurant-hero-slider-6-desc-1x-436.jpg" alt="Restaurant creative design">
        </picture>
      </div>
    </div>
    <p class="hero3-text">Whether you're in the mood for a hearty breakfast, a light lunch, or <span class="hero3-text-a">a romantic dinner</span>, our menu has something for everyone.</p>
</section>