<!-- Hero Section Restaurant page -->
<section class="hero3">
    <h1 class="hero3-title">Restaurant</h1>
    <button class="hero3-button">Book a table</button>
    <a class="hero3-button-link" href="#">View a menu</a>
    <p class="hero3-text">Whether you're in the mood for a hearty breakfast, a light lunch, or a romantic dinner, our menu has something for everyone.</p>
    <ul class="hero3-images">
      <li class="hero3-images-item">
        <img class="hero3-img" srcset="#"
        alt="restaurant-photo-1"
        src="#"/>
      </li>
      <li class="hero3-images-item">
        <img class="hero3-img" srcset="#"
        alt="restaurant-photo-2"
        src="#"/>
      </li>
    </ul>
</section>
