<!-- Section Menu Restaurant page -->
<section class="restaurant-menu">
    <h2 class="restaurant-menu-header">RESTAURANT MENU</h2>
    <ul class="restaurant-menu-list">
        <li class="restaurant-menu-item">
            <table>
                <caption>Hot meals</caption>
                <tr>
                    <th>Veal borscht with beans</th>
                    <td>400 g</td>
                </tr>
                <tr>
                    <td>Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</td>
                    <td>240 UAH</td>
                </tr>
                <tr>
                    <th>Cheese soup with chicken</th>
                    <td>400 g</td>
                </tr>
                <tr>
                    <td>Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</td>
                    <td>200 UAH</td>
                </tr>
                <tr>
                    <th>Carbonara pasta</th>
                    <td>400 g</td>
                </tr>
                <tr>
                    <td>Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</td>
                    <td>430 UAH</td>
                </tr>
                <tr>
                    <th>Pork steak</th>
                    <td>400 g</td>
                </tr>
                <tr>
                    <td>Pork tenderloin, spices, served with sweet chili sauce and vegetables</td>
                    <td>500 UAH</td>
                </tr>
                <tr>
                    <th>Gorbusha in white wine sauce</th>
                    <td>400 g</td>
                </tr>
                <tr>
                    <td>Tender redfish, cream sauce based on white wine</td>
                    <td>400 UAH</td>
                </tr>
            </table>
        </li>
        <li class="restaurant-menu-item">
            <table>
                <caption>Side dishes and snacks</caption>
                <tr>
                    <th>Baked vegetables</th>
                    <td>200 g</td>
                </tr>
                <tr>
                    <td>Zucchini, pepper, tomato, eggplant</td>
                    <td>230 UAH</td>
                </tr>
                <tr>
                    <th>French fries</th>
                    <td>150 g</td>
                </tr>
                <tr>
                    <td>Potatoes, tomato sauce</td>
                    <td>150 UAH</td>
                </tr>
                <tr>
                    <th>Peasant-style potatoes</th>
                    <td>150 g</td>
                </tr>
                <tr>
                    <td>Potatoes, spices, spicy sauces</td>
                    <td>160 UAH</td>
                </tr>
                <tr>
                    <th>Crisp pickles from the barrel</th>
                    <td>250 g</td>
                </tr>
                <tr>
                    <td>Salted cucumber, pickled tomato, sauerkraut, Korean carrot</td>
                    <td>350 UAH</td>
                <tr>
                    <th>Chicken wings in honey sauce</th>
                    <td>400 g</td>
                </tr>
                <tr>
                    <td>Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</td>
                    <td>350 UAH</td>
                </tr>
            </table>
        </li>
        <li class="restaurant-menu-item">
            <table>
                <caption>Salads</caption>
                <tr>
                    <th>Caesar with chicken</th>
                    <td>230 g</td>
                </tr>
                <tr>
                    <td>Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</td>
                    <td>450 UAH</td>
                </tr>
                <tr>
                    <th>Caesar with shrimp</th>
                    <td>230 g</td>
                </tr>
                <tr>
                    <td>Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</td>
                    <td>300 UAH</td>
                </tr>
                <tr>
                    <th>Greek salad</th>
                    <td>230 g</td>
                </tr>
                <tr>
                    <td>Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</td>
                    <td>280 UAH</td>
                </tr>
                <tr>
                    <th>Meat salad</th>
                    <td>230 g</td>
                </tr>
                <tr>
                    <td>Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</td>
                    <td>300 UAH</td>
            </table>
        </li>
        <li class="restaurant-menu-item">
            <table>
                <caption>Desserts</caption> 
                <tr>
                    <th>Napoleon cake</th>
                    <td>200 UAH</td>
                </tr>
                <tr>
                    <th>Poppy cake</th>
                    <td>300 UAH</td>
                </tr>
                <tr>
                    <th>Tiramisu</th>
                    <td>260 UAH</td>
                </tr>
            </table>
            <table>
                <caption>Drinks</caption>
                <tr>
                    <th>Black/green tea</th>
                    <td>100 UAH</td>
                </tr>
                <tr>
                    <th>Espresso</th>
                    <td>100 UAH</td>
                </tr>
                <tr>
                    <th>Cappuccino</th>
                    <td>100 UAH</td>
                </tr>
            </table>
        </li>
    </ul>
    <button type="button" data-modal-table-open-d>book a table</button>
</section>