<!-- Section Menu Restaurant page -->
<section class="section restaurant-menu-section" id="restaurant-menu">
    <div class="container tablet-cont">
        <h2 class="restaurant-menu-header">RESTAURANT MENU</h2>
        <div class="restaurant-menu">
            <div class="restaurant-menu-list-wrap">
                <h3 class="meal-header">Hot meals</h3>
                <ul class="restaurant-menu-list">
                    <li class="restaurant-menu-item">
                        <p class="menu-item">Veal borscht with beans</p>
                        <span class="weight">400g</span>
                        <p class="menu-descrip borscht">Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                            tomatoes, greens, sour cream</p>
                        <span class="rate">240 UAH</span>
                    </li>
                    <li class="restaurant-menu-item">
                        <p class="menu-item">Cheese soup with chicken</p>
                        <span class="weight">400g</span>
                        <p class="menu-descrip soup">Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens
                        </p>
                        <span class="rate">200 UAH</span>
                    </li>
                    <li class="restaurant-menu-item">
                        <p class="menu-item">Carbonara pasta</p>
                        <span class="weight">400g</span>
                        <p class="menu-descrip">Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
                        <span class="rate">430 UAH</span>
                    </li>
                    <li class="restaurant-menu-item">
                        <p class="menu-item pork-marg">Pork steak</p>
                        <span class="weight">400g</span>
                        <p class="menu-descrip">Pork tenderloin, spices, served with sweet chili sauce and vegetables
                        </p>
                        <span class="rate">500 UAH</span>
                    </li>
                    <li class="restaurant-menu-item">
                        <p class="menu-item">Gorbusha in white wine sauce</p>
                        <span class="weight">400g</span>
                        <p class="menu-descrip">Tender redfish, cream sauce based on white wine</p>
                        <span class="rate">400 UAH</span>
                    </li>
                </ul>
            </div>
            <div class="restaurant-menu-list-wrap">
                <h3 class="meal-header">Side dishes and snacks</h3>
                <ul class="restaurant-menu-list">
                    <li class="restaurant-menu-item">
                        <p class="menu-item">Baked vegetables</p>
                        <span class="weight">200g</span>
                        <p class="menu-descrip borscht">Zucchini, pepper, tomato, eggplant</p>
                        <span class="rate">230 UAH</span>
                    </li>
                    <li class="restaurant-menu-item">
                        <p class="menu-item fries-marg">French fries</p>
                        <span class="weight">150g</span>
                        <p class="menu-descrip borscht">Potatoes, tomato sauce</p>
                        <span class="rate">160 UAH</span>
                    </li>
                    <li class="restaurant-menu-item">
                        <p class="menu-item">Peasant-style potatoes</p>
                        <span class="weight">150g</span>
                        <p class="menu-descrip borscht">Potatoes, spices, spicy sauces</p>
                        <span class="rate">160 UAH</span>
                    </li>
                    <li class="restaurant-menu-item">
                        <p class="menu-item">Crisp pickles from the barrel</p>
                        <span class="weight">250g</span>
                        <p class="menu-descrip borscht">Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
                        <span class="rate">350 UAH</span>
                    </li>
                    <li class="restaurant-menu-item">
                        <p class="menu-item">Chicken wings in honey sauce</p>
                        <span class="weight">400g</span>
                        <p class="menu-descrip borscht">Chicken wings, mustard-honey sauce, served with carrots, celery
                            and blue cheese sauce</p>
                        <span class="rate">350 UAH</span>
                    </li>
            </div>
            <div class="restaurant-menu-list-wrap">
                <h3 class="meal-header  salad-header">Salads</h3>
                <ul class="restaurant-menu-list"></ul>
                <li class="restaurant-menu-item">
                    <p class="menu-item">Caesar with chicken</p>
                    <span class="weight">230g</span>
                    <p class="menu-descrip borscht">Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                        croutons, Caesar sauce</p>
                    <span class="rate">450 UAH</span>
                </li>
                <li class="restaurant-menu-item">
                    <p class="menu-item">Caesar with shrimp</p>
                    <span class="weight">230g</span>
                    <p class="menu-descrip borscht">Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                        croutons, caesar sauce</p>
                    <span class="rate">300 UAH</span>
                </li>
                <li class="restaurant-menu-item">
                    <p class="menu-item greek-marg">Greek salad</p>
                    <span class="weight">230g</span>
                    <p class="menu-descrip borscht">Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                        lettuce, sauce</p>
                    <span class="rate">280 UAH</span>
                </li>
                <li class="restaurant-menu-item">
                    <p class="menu-item meat-marg">Meat salad</p>
                    <span class="weight">230g</span>
                    <p class="menu-descrip borscht">Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell
                        pepper, ranch sauce</p>
                    <span class="rate">300 UAH</span>
                </li>
                </ul>
            </div>
            <div class="restaurant-menu-list-wrap desserts-marg">
                <h3 class="meal-header">Desserts</h3>
                <ul class="restaurant-menu-list">
                    <li class="restaurant-menu-item">
                        <p class="menu-item remove-marg">Napoleon cake</p>
                        <span class="rate">200 UAH</span>
                    </li>
                    <li class="restaurant-menu-item">
                        <p class="menu-item remove-marg">Poppy cake</p>
                        <span class="rate">300 UAH</span>
                    </li>
                    <li class="restaurant-menu-item">
                        <p class="menu-item remove-marg">Tiramisu</p>
                        <span class="rate">260 UAH</span>
                    </li>
                </ul>
                    <h3 class="meal-header drinks">Drinks</h3>
                    <ul class="restaurant-menu-list">
                    <li class="restaurant-menu-item">
                        <p class="menu-item remove-marg">Black/green tea</p>
                        <span class="rate">100 UAH</span>
                    </li>
                    <li class="restaurant-menu-item">
                        <p class="menu-item remove-marg">Espresso</p>
                        <span class="rate">100 UAH</span>
                    </li>
                    <li class="restaurant-menu-item">
                        <p class="menu-item remove-marg">Cappuccino</p>
                        <span class="rate">100 UAH</span>
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn button-black rest-button" type="button">book a table</button>
</section>

