/* Section Amenities Room page */
.room-section {
  background-color: #121212;
  padding-top: 40px;
  padding-bottom: 64px;
}

.room-title {
  color: #f6f6f6;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  margin-bottom: 28px;
}

.room-list-wrapper {
  margin-bottom: 40px;
}

.room-list {
  list-style-type: disc;
  list-style-position: inside;
}

.room-item {
  color: #f7f7f7;
  font-family: 'DM Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.room-item::marker {
  font-size: 10px;
}

.media-room-list {
  margin-bottom: 64px;
}

.room-picture-list {
  margin-bottom: 32px;
}

.mobile-room-button {
  margin: auto;
  min-width: 175px;
  padding: 8px 40px;

  transition: var(--transition-dur-and-func);
}

.bath {
  position: absolute;
  width: 259px;
  right: 0;
}

.shampoo {
  position: absolute;
  width: 207px;
  top: 144px;
  left: 0px;
}

@media screen and (max-width: 767px) {
  .room-pic-wrapper {
    position: relative;
    height: 357px;
    margin-top: 64px;
  }
}

@media screen and (min-width: 768px) {
  .room-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .room-item {
    font-size: 18px;
    line-height: 1.33;
  }
  
  .room-pic-btn-wrapper {
    position: relative;
    height: 607px;
  }

  .bath {
    width: 408px;
    top: 82px;
  }

  .shampoo {
    width: 365px;
    top: 239px;
  }

  .mobile-room-button {
    position: absolute;
    top: 453px;
    left: 0;
  }
}

@media screen and (max-width: 1439px) {
  .room-list-second {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .room-list-wrapper {
    display: flex;
    margin-bottom: 100px;
    gap: 70px;
  }

  .room-list-wrapper-kitchen {
    margin-left: 170px;
  }

  .room-list {
    margin: 15px;
    width: 473px;
  }

  .room-title {
    font-size: 40px;
  }

  .room-item {
    font-size: 18px;
  }

  .room-pic-btn-wrapper {
    height: 476px;
  }

  .bath {
    width: 496px;
    height: 636px;
    top: -220px;
  }

  .shampoo {
    width: 439px;
    height: 219px;
    top: -12px;
    left: 528px;
  }

  .mobile-room-button {
    top: 239px;
    left: 528px;
  }
}
