/* Section About Main page */

.section-2-about-main {
  background-color: var(--light-background-color-primary);
  padding-top: 64px;
  padding-bottom: 32px;
}

.section-2-part-1 {
  position: relative;
}

.section-2-part-2 {
  position: relative;
}

.first-picture {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.fourth-picture {
  display: flex;
  justify-content: center;
}

.review-background-1 {
  position: absolute;
  top: 420px;
  right: 0;
  background: #121212;
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 212px;
  height: 61px;
}

.review-background-2 {
  position: absolute;
  top: 272px;
  background: #121212;
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 212px;
  height: 61px;
}

.review-picture {
  position: relative;
  top: 10px;
  left: 14px;
}

.review-content {
  position: relative;
  bottom: 27px;
  left: 67px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 7px;
}

.review-title {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(14 / 14);
  color: var(--light-text-color-primary);
}

.review-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 133.02%;
  color: #575757;
}

.review-rating {
  color: var(--light-text-color-primary);
}

.about-main-content-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 335px;
  margin-top: 32px;
  margin-bottom: 64px;
  gap: 18px;
}

.about-main-content-2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 263px;
  margin-bottom: 40px;
  gap: 18px;
}

.fourth-picture-content-position {
  padding-top: 54px;
}

.about-main-title {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #484848;
}

.about-main-text-1 {
  gap: 14px;
}

.about-main-text-1-paragraph {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--dark-theme-color-primary);
}

.about-main-text-2 {
  font-weight: 500;
  font-weight: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--dark-theme-color-primary);
}

@media screen and (min-width: 768px) {
  .section-2-part-1 {
    padding-bottom: 40px;
  }

  .section-2-part-2 {
    padding-top: 40px;
  }

  .section-2-about-main {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .first-picture {
    padding-right: 222px;
  }

  .second-picture {
    position: absolute;
    top: 209px;
    right: 0;
  }

  .third-picture {
    width: 530px;
    margin-left: auto;
  }

  .fourth-picture-content-position {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    padding-top: 40px;
  }

  .review-background-1 {
    top: 176px;
    right: 122px;
  }

  .review-background-2 {
    top: 343px;
    left: 67px;
  }

  .about-main-text-1-paragraph {
    font-size: 18px;
    line-height: calc(24 / 18);
  }

  .about-main-content-1 {
    width: 472px;
    margin-bottom: 0;
  }

  .about-main-content-2 {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .section-2-about-main {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .section-2-part-1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .section-2-part-2 {
    padding-top: 50px;
    display: flex;
    flex-direction: row-reverse;
  }

  .second-picture {
    top: 209px;
    right: 637px;
  }

  .review-background-1 {
    top: 176px;
    right: 794px;
  }

  .third-picture {
    margin-left: 87px;
  }

  .review-background-2 {
    top: 353px;
    left: 739px;
  }

  .about-main-content-1 {
    width: 472px;
    margin-top: 199px;
  }

  .fourth-picture-content-position {
    padding-top: 127px;
  }

  .about-main-content-2 {
    margin-left: 54px;
  }
}
