/* Section Restaurant's details Main page */

.restaurant-section-main {
  padding-bottom: 113px;
}

.main-restaurant-slider {
  width: 100vw;
}

@media screen and (min-width: 375px) {
  .main-restaurant-slider {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .main-restaurant-slider {
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .main-restaurant-slider {
    width: 1458px;
  }
}
