/* Button styles Dark */

.btn {
    display: block;
    cursor: pointer;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;  
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border-radius: 32px;
    background: none;
}

.button-black {

    border: 0.8px solid var(--light-text-color-primary);
    color: var(--light-text-color-primary);

}

.button-black:hover,
.button-black:focus {
    background: #FFFFFF;
    color: var( --dark-theme-color-primary);
}


/* Button styles Light */



.button-white {
    border: 0.8px solid var( --dark-theme-color-primary);
    color: rgba(18, 18, 18, 1);
}

.button-white:hover,
.button-white:focus {
    background: var(--dark-theme-color-primary);
    color: var(--light-text-color-primary);
}

@media screen and (min-width:768px) {
    .btn {
        line-height: 1.71;
    }
    
    .button-black:hover,
    .button-black:focus {
        background: #FFFFFF;
        color: var(--dark-theme-color-primary);
    }

    /* Button styles Light */
    
    
    
    .button-white:hover,
    .button-white:focus {
        background: var( --dark-theme-color-primary);
        color: var(--light-text-color-primary);
    }
}
