<!-- Section Amenities Room page -->
<section class="room-section">
  <h2>Room Amenities and Facilities</h2>
  <div class="room-list-wrapper">
    <div>
      <h3 class="room-title">General Amenities & Facilities:</h3>
      <ul class="room-list">
        <li class="room-item">24-hour front desk service</li>
        <li class="room-item">Daily housekeeping</li>
        <li class="room-item">Free Wi-Fi throughout the hotel</li>
        <li class="room-item">Elevator access</li>
        <li class="room-item">Luggage storage</li>
        <li class="room-item">Non-smoking rooms available</li>
        <li class="room-item">Meeting rooms for business and events</li>
        <li class="room-item">On-site parking (surcharge)</li>
        <li class="room-item">Concierge services</li>
      </ul>
    </div>
    <div>
      <h3 class="room-title">Bathroom:</h3>
      <ul class="room-list">
        <li class="room-item">Private bathroom with shower</li>
        <li class="room-item">Complimentary toiletries</li>
        <li class="room-item">Hair dryer</li>
        <li class="room-item">Fresh towels daily</li>
        <li class="room-item">Deluxe bathrobes (in some room categories)</li>
      </ul>
    </div>
  </div>
  <div class="room-list-wrapper">
    <div>
      <h3 class="room-title">Bedroom:</h3>
      <ul class="room-list">
        <li class="room-item">Comfortable beds with high-quality linens</li>
        <li class="room-item">Blackout curtains</li>
        <li class="room-item">
          Climate control (air conditioning and heating)
        </li>
        <li class="room-item">Safe for valuables</li>
        <li class="room-item">Writing desk and chair</li>
        <li class="room-item">Flat-screen TV with cable channels</li>
      </ul>
    </div>
    <div>
      <h3 class="room-title">Kitchen:</h3>
      <ul class="room-list">
        <li class="room-item">In-room kitchenette (in some room categories)</li>
        <li class="room-item">Refrigerator</li>
        <li class="room-item">Microwave</li>
        <li class="room-item">Electric kettle</li>
        <li class="room-item">Cooking utensils and cutlery</li>
        <li class="room-item">Dining table and chairs</li>
      </ul>
    </div>
  </div>
  <div class="room-list-wrapper">
    <div>
      <h3 class="room-title">Media:</h3>
      <ul class="room-list">
        <li class="room-item">Flat-screen TV with cable channels</li>
        <li class="room-item">High-speed Wi-Fi</li>
        <li class="room-item">iPod docking station</li>
        <li class="room-item">Speaker system</li>
        <li class="room-item">Electrical outlets for charging devices</li>
      </ul>
    </div>
    <div class="room-pic-btn-wrapper">
      <div class="room-pic-wrapper">
        <picture class="shampoo">
          <source
            srcset="
              ./img/room-about/room-about-1-1x-439.webp  1x,
              ./img/room-about/room-about-1-2x-878.webp  2x,
              ./img/room-about/room-about-1-3x-1317.webp 3x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/room-about/room-about-1-1x-439.jpg  1x,
              ./img/room-about/room-about-1-2x-878.jpg  2x,
              ./img/room-about/room-about-1-3x-1317.jpg 3x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/room-about/room-about-1-1x-365.webp  1x,
              ./img/room-about/room-about-1-2x-730.webp  2x,
              ./img/room-about/room-about-1-3x-1095.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/room-about/room-about-1-1x-365.jpg  1x,
              ./img/room-about/room-about-1-2x-730.jpg  2x,
              ./img/room-about/room-about-1-3x-1095.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/room-about/room-about-1-1x-207.webp 1x,
              ./img/room-about/room-about-1-2x-414.webp 2x,
              ./img/room-about/room-about-1-3x-621.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/room-about/room-about-1-1x-207.jpg 1x,
              ./img/room-about/room-about-1-2x-414.jpg 2x,
              ./img/room-about/room-about-1-3x-621.jpg 3x
            "
            type="image/jpeg"
          />
          <img
            src="./img/room-about/room-about-1-1x-439.jpg"
            alt="Shampoo,soap and mirror"
            class="shampoo-img"
            width="365"
          />
        </picture>
        <picture class="bath">
          <source
            srcset="
              ./img/room-about/room-about-2-1x-496.webp  1x,
              ./img/room-about/room-about-2-2x-992.webp  2x,
              ./img/room-about/room-about-2-3x-1488.webp 3x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/room-about/room-about-2-1x-496.jpg  1x,
              ./img/room-about/room-about-2-2x-992.jpg  2x,
              ./img/room-about/room-about-2-3x-1488.jpg 3x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/room-about/room-about-2-1x-408.webp  1x,
              ./img/room-about/room-about-2-2x-816.webp  2x,
              ./img/room-about/room-about-2-3x-1224.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/room-about/room-about-2-1x-408.jpg  1x,
              ./img/room-about/room-about-2-2x-816.jpg  2x,
              ./img/room-about/room-about-2-3x-1224.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/room-about/room-about-2-1x-259.webp 1x,
              ./img/room-about/room-about-2-2x-518.webp 2x,
              ./img/room-about/room-about-2-3x-777.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/room-about/room-about-2-1x-259.jpg 1x,
              ./img/room-about/room-about-2-2x-518.jpg 2x,
              ./img/room-about/room-about-2-3x-777.jpg 3x
            "
            type="image/jpeg"
          />
          <img
            src="./img/room-about/room-about-1-1x-439.jpg"
            alt="Bathroom"
            class="bath-img"
            width="408"
          />
        </picture>
      </div>
      <button
        type="button"
        class="btn button-black mobile-room-button"
        data-modal-room-open-d
      >
        Book a room
      </button>
    </div>
  </div>
</section>
