<!-- Section Amenities Room page -->
<section class="room-section">
  <h2>Room Amenities and Facilities</h2>
  <h3 class="room-title">General Amenities & Facilities:</h3>
  <ul class="room-list">
    <li class="room-item">24-hour front desk service</li>
    <li class="room-item">Daily housekeeping</li>
    <li class="room-item">Free Wi-Fi throughout the hotel</li>
    <li class="room-item">Elevator access</li>
    <li class="room-item">Luggage storage</li>
    <li class="room-item">Non-smoking rooms available</li>
    <li class="room-item">Meeting rooms for business and events</li>
    <li class="room-item">On-site parking (surcharge)</li>
    <li class="room-item">Concierge services</li>
  </ul>
  <h3 class="room-title">Bathroom:</h3>
  <ul class="room-list">
    <li class="room-item">Private bathroom with shower</li>
    <li class="room-item">Complimentary toiletries</li>
    <li class="room-item">Hair dryer</li>
    <li class="room-item">Fresh towels daily</li>
    <li class="room-item">Deluxe bathrobes (in some room categories)</li>
  </ul>
  <h3 class="room-title">Bedroom:</h3>
  <ul class="room-list">
    <li class="room-item">Comfortable beds with high-quality linens</li>
    <li class="room-item">Blackout curtains</li>
    <li class="room-item">Climate control (air conditioning and heating)</li>
    <li class="room-item">Safe for valuables</li>
    <li class="room-item">Writing desk and chair</li>
    <li class="room-item">Flat-screen TV with cable channels</li>
  </ul>
  <h3 class="room-title">Kitchen:</h3>
  <ul class="room-list">
    <li class="room-item">In-room kitchenette (in some room categories)</li>
    <li class="room-item">Refrigerator</li>
    <li class="room-item">Microwave</li>
    <li class="room-item">Electric kettle</li>
    <li class="room-item">Cooking utensils and cutlery</li>
    <li class="room-item">Dining table and chairs</li>
  </ul>
  <h3 class="room-title">Media:</h3>
  <ul class="room-list">
    <li class="room-item">Flat-screen TV with cable channels</li>
    <li class="room-item">High-speed Wi-Fi</li>
    <li class="room-item">iPod docking station</li>
    <li class="room-item">Speaker system</li>
    <li class="room-item">Electrical outlets for charging devices</li>
  </ul>
  <picture>
    <source media="(max-width: 767px)" srcset="#" />
    <source media="(min-width: 768px)" srcset="#" />
    <source media="(min-width: 1440px)" srcset="#" />
    <img
      class="shampoo-img"
      src="#"
      alt="Shampoo,soap and mirror"
      width="365"
    />
  </picture>
  <picture>
    <source media="(max-width: 767px)" srcset="#" />
    <source media="(min-width: 768px)" srcset="#" />
    <source media="(min-width: 1440px)" srcset="#" />
    <img class="bath-img" src="#" alt="Bathroom" width="408" />
  </picture>
  <button type="button">Book a room</button>
</section>
