<!-- Hero Section Room page -->
<section class="hero4">
  <h1 class="hero4-title">Double luxury room</h1>
  <button class="hero4-button" data-modal-prices-open>View prices</button>

  <picture>
    <source
      srcset="
        ./img/room-hero/room-hero-slider-1-desc-1x-436.webp 1x,
        ./img/room-hero/room-hero-slider-1-desc-2x-872.webp 2x,
        ./img/room-hero/room-hero-slider-1-desc-3x-1308.webp 3x
      "
      media="(min-width: 1440px)"
      type="image/webp"
    />
    <source
      srcset="
        ./img/room-hero/room-hero-slider-1-desc-1x-436.jpg 1x,
        ./img/room-hero/room-hero-slider-1-desc-2x-872.jpg 2x,
        ./img/room-hero/room-hero-slider-1-desc-3x-1308.jpg 3x
      "
      media="(min-width: 1440px)"
      type="image/jpeg"
    />
    <source
      srcset="
        ./img/room-hero/room-hero-slider-1-tab-1x-436.webp 1x,
        ./img/room-hero/room-hero-slider-1-tab-2x-872.webp 2x,
        ./img/room-hero/room-hero-slider-1-tab-3x-1308.webp 3x
      "
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset="
        ./img/room-hero/room-hero-slider-1-tab-1x-436.jpg 1x,
        ./img/room-hero/room-hero-slider-1-tab-2x-872.jpg 2x,
        ./img/room-hero/room-hero-slider-1-tab-3x-1308.jpg 3x
      "
      media="(min-width: 768px)"
      type="image/jpeg"
    />
    <source
      srcset="
        ./img/room-hero/room-hero-slider-1-mob-1x-250.webp 1x,
        ./img/room-hero/room-hero-slider-1-mob-2x-500.webp 2x,
        ./img/room-hero/room-hero-slider-1-mob-3x-750.webp 3x
      "
      type="image/webp"
    />
    <source
      srcset="
        ./img/room-hero/room-hero-slider-1-mob-1x-250.jpg 1x,
        ./img/room-hero/room-hero-slider-1-mob-2x-500.jpg 2x,
        ./img/room-hero/room-hero-slider-1-mob-3x-750.jpg 3x
      "
      type="image/jpeg"
    />
    <img src="./img/room-hero/room-hero-slider-1-desc-1x-436.jpg" alt="Two beds in a room">
  </picture>

  <p class="hero4-text">
    The Mimino hotel features spacious and stylish double luxury rooms with
    modern amenities for a comfortable stay.
  </p>

  <!-- <ul class="hero4-images">
      <li class="hero4-images-item">
        <img class="hero4-img" srcset="#"
        alt="room-photo-1"
        src="#"/>
      </li>
      <li class="hero4-images-item">
        <img class="#" srcset="#"
        alt="room-photo-2"
        src="#"/>
      </li>
    </ul> -->
</section>
