<!-- Book a Room Modal Window -->
<div class="backdrop " data-modal>
<div class="modal">
        <p class="modal-title">BOOK A <span>ROOM</span></p>
    <button data-modal-close type="button" class="modal-close"><svg class="icon-clos" width="28" height="28">
        <use href="./img/icons.svg#icon-closeblack"></use>
    </svg></button>
    <form class="modal-form" name="book-a-room">
    <input
        type="text"
        class="modal-name"
        placeholder=" YOUR NAME"
        name="custom-name"
        id="Name"
        pattern = "[A-Za-z0-9]{2,}"
        title ="Name coudn`t be less than 2 Latin characters"
        required
    />
    <label class="label-name" for="Name">Who should book a table for?</label>
    <input
        type="tel"
        class="modal-name"
        placeholder="+38()"
        name="custom-phone"
        id="phone"
        pattern="[0-9+]{13,}"
        title ="Phone coudn`t contain characters and be less than 12 digits"
        required/>
    <label class="label-name" for="phone">Phone number </label>
    <input
    name="trip-start"
    placeholder="TODAY"
    class="textbox-n"
    type="text"
    onfocus="(this.type='date')"
    id="date" />
    <label class="label-name" for="date">Check-in date</label>
    <input class="modal-name"
        type="date"
        id="data_reservation_input"
        name="trip-end"
        value="2023-04-25"
        min="2023-02-01"
        max="2023-12-31"
    />
    <label for="data_reservation_input">Check-out date</label>
    <select name="room-reservation" id="booking_room_input">
        <option value=" double-room" selected>DOUBLE SUITE</option>
        <option value="triple-room">TRIPLE SUITE</option>
        <option value="four-room">FOUR SEATER SUITE</option>
    </select>
    <label for="booking_room_input">Number category</label>
    <button type="submit" class="btn button-black">Make a reservation</button>
    </form>
</div>
</div>
