<!-- Prices per Room Modal window -->
<div class="backdrop"data-modal>
<div class="modal">
        <p>PRICES PER <span>ROOM</span></p>
    <button data-modal-close type="button" class="modal-close"><svg>
        <use href="./img/icons.svg#icon-closeblack"></use>
    </svg></button>
    <form class="modal-form" name="room-price">
        <h2 class="room-to-book">DOUBLE SUITE</h2>
        <select  id="booking_number_input" name="seats" required>
        <option  value="1" selected>1</option>
        <option  value="2">2</option>
        <option  value="3">3</option>
        <option  value="4">4</option>
        <option  value="5">5</option>
        <option  value="6">6</option>
        <option  value="7">7</option>
        <option  value="8">8</option>
        <option  value="9">9</option>
        <option  value="10">10</option>
        <option  value="11">11</option>
        <option  value="12">12</option>
        <option  value="13">13</option>
        <option  value="14">14</option>
    </select>
    <label class="label-name" for="booking_number_input"
        >NUMBER OF NIGHTS</label>
    <p class="total-price">1000</p>
    <hr />
    <button type="submit" class="btn">Make a reservation</button>
    </form>
</div>
</div>