<!-- Section Double room Hotel page -->
<!-- Section Double room Hotel page -->
<section class="room-double">
  <div class="container">
    <ul>
      <li>
        <picture>
          <source
            srcset="
              ./img/hotel-double-room/hotel-double-1-1x-335.webp   335w,
              ./img/hotel-double-room/hotel-double-1-2x-670.webp   670w,
              ./img/hotel-double-room/hotel-double-1-3x-1005.webp 1005w,
              ./img/hotel-double-room/hotel-double-1-1x-331.webp   331w,
              ./img/hotel-double-room/hotel-double-1-2x-662.webp   662w,
              ./img/hotel-double-room/hotel-double-1-3x-993.webp   993w,
              ./img/hotel-double-room/hotel-double-1-1x-539.webp   539w,
              ./img/hotel-double-room/hotel-double-1-2x-1078.webp 1078w,
              ./img/hotel-double-room/hotel-double-1-3x-1617.webp 1617w
            "
            sizes="(min-width: 1440px) 539px, (min-width: 768px) 331px, (min-width: 375px) 335px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./img/hotel-double-room/hotel-double-1-1x-335.jpg   335w,
              ./img/hotel-double-room/hotel-double-1-2x-670.jpg   670w,
              ./img/hotel-double-room/hotel-double-1-3x-1005.jpg 1005w,
              ./img/hotel-double-room/hotel-double-1-1x-331.jpg   331w,
              ./img/hotel-double-room/hotel-double-1-2x-662.jpg   662w,
              ./img/hotel-double-room/hotel-double-1-3x-993.jpg   993w,
              ./img/hotel-double-room/hotel-double-1-1x-539.jpg   539w,
              ./img/hotel-double-room/hotel-double-1-2x-1078.jpg 1078w,
              ./img/hotel-double-room/hotel-double-1-3x-1617.jpg 1617w
            "
            sizes="(min-width: 1440px) 539px, (min-width: 768px) 331px, (min-width: 375px) 335px, 100vw"
            type="image/jpg"
          />

          <img
            src="./img/hotel-double-room/hotel-double-1-1x-335.jpg"
            alt="double-room"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./img/hotel-double-room/hotel-double-2-1x-158.webp   158w,
              ./img/hotel-double-room/hotel-double-2-2x-316.webp   316w,
              ./img/hotel-double-room/hotel-double-2-3x-474.webp   474w,
              ./img/hotel-double-room/hotel-double-2-1x-223.webp   223w,
              ./img/hotel-double-room/hotel-double-2-2x-446.webp   446w,
              ./img/hotel-double-room/hotel-double-2-3x-669.webp   669w,
              ./img/hotel-double-room/hotel-double-2-1x-387.webp   387w,
              ./img/hotel-double-room/hotel-double-2-2x-774.webp   774w,
              ./img/hotel-double-room/hotel-double-2-3x-1161.webp 1161w
            "
            sizes="(min-width: 1440px) 387px, (min-width: 768px) 223px, (min-width: 375px) 158px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./img/hotel-double-room/hotel-double-2-1x-158.jpg   158w,
              ./img/hotel-double-room/hotel-double-2-2x-316.jpg   316w,
              ./img/hotel-double-room/hotel-double-2-3x-474.jpg   474w,
              ./img/hotel-double-room/hotel-double-2-1x-223.jpg   223w,
              ./img/hotel-double-room/hotel-double-2-2x-446.jpg   446w,
              ./img/hotel-double-room/hotel-double-2-3x-669.jpg   669w,
              ./img/hotel-double-room/hotel-double-2-1x-387.jpg   387w,
              ./img/hotel-double-room/hotel-double-2-2x-774.jpg   774w,
              ./img/hotel-double-room/hotel-double-2-3x-1161.jpg 1161w
            "
            sizes="(min-width: 1440px) 387px, (min-width: 768px) 223px, (min-width: 375px) 158px, 100vw"
            type="image/jpg"
          />

          <img
            src="./img/hotel-double-room/hotel-double-2-1x-335.jpg"
            alt="double-room"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./img/hotel-double-room/hotel-double-3-1x-158.webp   158w,
              ./img/hotel-double-room/hotel-double-3-2x-316.webp   316w,
              ./img/hotel-double-room/hotel-double-3-3x-474.webp   474w,
              ./img/hotel-double-room/hotel-double-3-1x-341.webp   341w,
              ./img/hotel-double-room/hotel-double-3-2x-682.webp   682w,
              ./img/hotel-double-room/hotel-double-3-3x-1023.webp 1023w,
              ./img/hotel-double-room/hotel-double-3-1x-386.webp   386w,
              ./img/hotel-double-room/hotel-double-3-2x-772.webp   772w,
              ./img/hotel-double-room/hotel-double-3-3x-1158.webp 1158w
            "
            sizes="(min-width: 1440px) 386px, (min-width: 768px) 341px, (min-width: 375px) 158px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./img/hotel-double-room/hotel-double-3-1x-158.jpg   158w,
              ./img/hotel-double-room/hotel-double-3-2x-316.jpg   316w,
              ./img/hotel-double-room/hotel-double-3-3x-474.jpg   474w,
              ./img/hotel-double-room/hotel-double-3-1x-341.jpg   341w,
              ./img/hotel-double-room/hotel-double-3-2x-682.jpg   682w,
              ./img/hotel-double-room/hotel-double-3-3x-1023.jpg 1023w,
              ./img/hotel-double-room/hotel-double-3-1x-386.jpg   386w,
              ./img/hotel-double-room/hotel-double-3-2x-772.jpg   772w,
              ./img/hotel-double-room/hotel-double-3-3x-1158.jpg 1158w
            "
            sizes="(min-width: 1440px) 386px, (min-width: 768px) 341px, (min-width: 375px) 158px, 100vw"
            type="image/jpg"
          />

          <img
            src="./img/hotel-double-room/hotel-double-3-1x-335.jpg"
            alt="double-room"
          />
        </picture>
      </li>
    </ul>

    <h2>DOUBLE LUXURY ROOM</h2>
    <p>
      Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious
      room features a comfortable bed, private bathroom, flat-screen TV, and
      high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing
      ensure a peaceful night's sleep.
    </p>
    <p>
      Relax after a busy day at the writing desk or armchair. Book now for a
      convenient and comfortable stay.
    </p>
    <ul>
      <li><button type="button">More details</button></li>
      <li><button type="button" data-modal-prices-open-b>View prices</button></li>
    </ul>
  </div>
</section>
