<!-- Section Double room Hotel page -->
<!-- Section Double room Hotel page -->
<section>
  <div class="thumb">
    <picture>
      <source
        srcset="
          ../../img/hotel-double-room/hotel-double-1-1x-331.jpg,
          ../../img/dooble-room/dbl_room_2x.jpg
        "
        media="(max-width: 768px)"
        sizes="(max-width: 480px)"
      />
      <source
        srcset="
          ../../img/dooble-room/dbl_room_768.jpg,
          ../../img/dooble-room/dbl_room_768_2x.jpg
        "
        media="(max-width: 1440px)"
        sizes="(max-width: 331px)"
      />
      <source
        srcset="
          ../../img/dooble-room/dbl_room_1440.jpg,
          ../../img/dooble-room/dbl_room_1440_2x.jpg
        "
        media="(min-width: 1441px)"
        sizes="(max-width: 539px)"
      />
      <img
        src="../../img/hotel-double-room/hotel-double-1-1x-331.jpg"
        alt="double-room"
      />
    </picture>
  </div>
  <ul>
    <li>
      <picture>
        <source
          srcset="
            ../../img/dooble-room/dbl_bathroom.jpg,
            ../../img/dooble-room/dbl_bathroom_2x.jpg
          "
          media="(max-width: 768px)"
          sizes="(max-width: 158px)"
        />
        <source
          srcset="
            ../../img/dooble-room/dbl_bathroom_768.jpg,
            ../../img/dooble-room/dbl_bathroom_768_2x.jpg
          "
          media="(max-width: 1440px)"
          sizes="(max-width: 223px)"
        />
        <source
          srcset="
            ../../img/dooble-room/dbl_bathroom_1440.jpg,
            ../../img/dooble-room/dbl_bathroom_1440_2x.jpg
          "
          media="(min-width: 1441px)"
          sizes="(max-width: 387px)"
        />
        <img src="../../img/dooble-room/dbl_bathroom.jpg" alt="bathroom" />
      </picture>
    </li>
    <li>
      <picture>
        <source
          srcset="
            ../../img/dooble-room/dbl_kitchen.jpg,
            ../../img/dooble-room/dbl_kitchen_2x.jpg
          "
          media="(max-width: 768px)"
          sizes="(max-width: 158px)"
        />

        <source
          srcset="
            ../../img/dooble-room/dbl_kitchen_768.jpg,
            ../../img/dooble-room/dbl_kitchen_768_2x.jpg
          "
          media="(max-width: 1440px)"
          sizes="(max-width: 341px)"
        />

        <source
          srcset="
            ../../img/dooble-room/dbl_kitchen_1440.jpg,
            ../../img/dooble-room/dbl_kitchen_1440_2x.jpg
          "
          media="(min-width: 1441px)"
          sizes="(max-width: 387px)"
        />
        <img src="../../img/dooble-room/dbl_kitchen.jpg" alt="kitchen" />
      </picture>
    </li>
  </ul>
  <h2>DOUBLE LUXURY ROOM</h2>
  <p>
    Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious
    room features a comfortable bed, private bathroom, flat-screen TV, and
    high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing
    ensure a peaceful night's sleep.
  </p>
  <p>
    Relax after a busy day at the writing desk or armchair. Book now for a
    convenient and comfortable stay.
  </p>
  <ul>
    <li><button type="button">More details</button></li>
    <li><button type="button">View prices</button></li>
  </ul>
</section>
