<!-- Section Four room Hotel page -->
<section class="section section-room-four">
  <div class="container">
    <div class="room-four-fotos">
      <div class="four-foto-first">
        <picture>
          <source
            srcset="
              ./img/hotel-four-seater-room/hotel-four-seater-1-1x-335.webp   335w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-2x-670.webp   670w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-3x-1005.webp 1005w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-1x-331.webp   331w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-2x-662.webp   662w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-3x-993.webp   993w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-1x-539.webp   539w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-2x-1078.webp 1078w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-3x-1617.webp 1617w
            "
            sizes="(min-width: 1440px) 539px, (min-width: 768px) 331px, (min-width: 375px) 335px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./img/hotel-four-seater-room/hotel-four-seater-1-1x-335.jpg   335w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-2x-670.jpg   670w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-3x-1005.jpg 1005w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-1x-331.jpg   331w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-2x-662.jpg   662w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-3x-993.jpg   993w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-1x-539.jpg   539w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-2x-1078.jpg 1078w,
              ./img/hotel-four-seater-room/hotel-four-seater-1-3x-1617.jpg 1617w
            "
            sizes="(min-width: 1440px) 539px, (min-width: 768px) 331px, (min-width: 375px) 335px, 100vw"
            type="image/jpg"
          />

          <img
            src="./img/hotel-four-seater-room/hotel-four-seater-1-1x-335.jpg"
            alt="four-room"
          />
        </picture>
      </div>
      <div class="room-four-foto-box">
        <div class="four-foto-second">
          <picture>
            <source
              srcset="
                ./img/hotel-four-seater-room/hotel-four-seater-2-1x-158.webp   158w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-2x-316.webp   316w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-3x-474.webp   474w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-1x-223.webp   223w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-2x-446.webp   446w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-3x-669.webp   669w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-1x-387.webp   387w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-2x-774.webp   774w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-3x-1161.webp 1161w
              "
              sizes="(min-width: 1440px) 387px, (min-width: 768px) 223px, (min-width: 375px) 158px, 100vw"
              type="image/webp"
            />
            <source
              srcset="
                ./img/hotel-four-seater-room/hotel-four-seater-2-1x-158.jpg   158w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-2x-316.jpg   316w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-3x-474.jpg   474w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-1x-223.jpg   223w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-2x-446.jpg   446w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-3x-669.jpg   669w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-1x-387.jpg   387w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-2x-774.jpg   774w,
                ./img/hotel-four-seater-room/hotel-four-seater-2-3x-1161.jpg 1161w
              "
              sizes="(min-width: 1440px) 387px, (min-width: 768px) 223px, (min-width: 375px) 158px, 100vw"
              type="image/jpg"
            />

            <img
              src="./img/hotel-four-seater-room/hotel-four-seater-2-1x-158.jpg"
              alt="four-room"
            />
          </picture>
        </div>
        <div class="four-foto-third">
          <picture>
            <source
              srcset="
                ./img/hotel-four-seater-room/hotel-four-seater-3-1x-158.webp   158w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-2x-316.webp   316w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-3x-474.webp   474w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-1x-341.webp   341w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-2x-682.webp   682w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-3x-1023.webp 1023w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-1x-386.webp   386w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-2x-772.webp   772w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-3x-1158.webp 1158w
              "
              sizes="(min-width: 1440px) 386px, (min-width: 768px) 341px, (min-width: 375px) 158px, 100vw"
              type="image/webp"
            />
            <source
              srcset="
                ./img/hotel-four-seater-room/hotel-four-seater-3-1x-158.jpg   158w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-2x-316.jpg   316w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-3x-474.jpg   474w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-1x-341.jpg   341w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-2x-682.jpg   682w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-3x-1023.jpg 1023w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-1x-386.jpg   386w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-2x-772.jpg   772w,
                ./img/hotel-four-seater-room/hotel-four-seater-3-3x-1158.jpg 1158w
              "
              sizes="(min-width: 1440px) 386px, (min-width: 768px) 341px, (min-width: 375px) 158px, 100vw"
              type="image/jpg"
            />

            <img
              src="./img/hotel-four-seater-room/hotel-four-seater-3-1x-158.jpg"
              alt="four-room"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="four-room-discription">
      <h2 class="room-four-title">four-seater room</h2>
      <p class="roome-four-text">
        Our 4-person room is perfect for small groups, offering comfort and
        convenience with 4 comfortable beds, ample storage, flat-screen TV,
        mini-fridge, coffee maker, desk and chair, air-conditioning, heating,
        and soundproof walls. Book now for a memorable stay.
      </p>
      <div class="btn room-four-btn-list">
        <a href="./room.html" class="link four-link-details"> More details</a>

        <button
          type="button"
          class="btn btn-four-price"
          data-modal-prices-open-d
        >
          View prices
        </button>
      </div>
    </div>
  </div>
</section>
