<header class="site-header light">
    <div class="container">
        <div class="header-box">
            <button type="button" class="mobile-menu-btn js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                <svg class="mobile-menu-icon dark" width="28" height="28">
                    <use href="./img/icons.svg#icon-mob-menu-1"></use>
                </svg>
            </button>
            <nav class="header-navigation">
                <ul class="header-nav-list">
                    <li class="header-nav-item">
                        <a href="./index.html" class="header-nav-link dark link">Home</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="./hotel.html" class="header-nav-link dark current link">Hotel</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="./restaurant.html" class="header-nav-link dark link">Restaurant</a>
                    </li>
                </ul>
            </nav>
            <a href="./index.html"  class="logo-header dark link">Mimino<br><span class="logo-header-piece dark">restaurant-hotel complex</span></a>
            <ul class="header-soc-list">
                <li class="header-soc-item">
                    <a href="https://www.instagram.com"  class="header-soc-link link" target="_blank" rel="noopener noreferrer nofollow">
                        <svg class="header-soc-icon dark" width="24" height="24">
                            <use href="./img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-soc-item">
                    <a href="https://www.facebook.com" class="header-soc-link link" target="_blank" rel="noopener noreferrer nofollow">
                        <svg class="header-soc-icon dark" width="24" height="24">
                            <use href="./img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-soc-item">
                    <a href="https://www.twitter.com" class="header-soc-link link" target="_blank" rel="noopener noreferrer nofollow">
                        <svg class="header-soc-icon dark" width="24" height="24">
                            <use href="./img/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <!--=========================================MOBILE-MENU================================================-->
        <div class="mobile-menu js-menu-container" id="mobile-menu">
            <div class="mobile-menu-container">
                <button class="mobile-menu-close-btn js-close-menu" type="button">
                    <svg class="mobile-menu-close-icon" width="28" height="28">
                        <use href=""></use>
                    </svg>
                </button>
                <a href="./index.html"  class="mob-logo-header-link link">Mimino<br><span class="mob-logo-header-piece">restaurant-hotel complex</span></a>
                <nav class="mobile-menu-navigation">
                    <ul class="mobile-menu-list list">
                        <li class="mobile-menu-item">
                            <a href="./index.html" class="mobile-menu-item-link link">Home</a>
                        </li>
                        <li class="mobile-menu-item">
                            <a href="/src/hotel.html" class="mobile-menu-item-link link">Hotel</a>
                        </li>
                        <li class="mobile-menu-item">
                            <a href="/src/restaurant.html" class="mobile-menu-item-link link">Restaurant</a>
                        </li>
                    </ul>
                </nav>
                <ul class="mobile-menu-soc-list list">
                    <li class="mobile-menu-soc-list-item">
                        <a href="https://www.instagram.com" class="mobile-menu-soc-link link" target="_blank" rel="noopener noreferrer nofollow">
                            <svg class="mobile-menu-soc-icon"  width="20" height="20">
                                <use href=""></use>
                            </svg>
                        </a>
                    </li>
                    <li class="mobile-menu-soc-list-item">
                        <a href="https://www.facebook.com" class="mobile-menu-soc-link link" target="_blank" rel="noopener noreferrer nofollow">
                            <svg class="mobile-menu-soc-icon" width="20" height="20">
                                <use href=""></use>
                            </svg>
                        </a>
                    </li>
                    <li class="mobile-menu-soc-list-item">
                        <a href="https://www.twitter.com" class="mobile-menu-soc-link link" target="_blank" rel="noopener noreferrer nofollow">
                            <svg class="mobile-menu-soc-icon" width="20" height="20">
                                <use href=""></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>