<!-- Hero Section Hotel page -->
<section class="hero2">
    <div class="hero2-good">
      <h1 class="hero2-title">Hotel</h1>
      <ul class="hero2-buttons">
          <li class="hero2-buttons-item"><button class="hero2-button btn button-white" data-modal-room-open>Book a room</button></li>
          <li class="hero2-buttons-item"><button class="hero2-button btn button-white" data-modal-prices-open>View prices</button></li>
      </ul>
    </div>
    <div class="hero-hotel-slider-mob">
      <picture>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-1-mob-1x-250.webp 1x,
        ./img/hotel-hero/hotel-hero-slider-1-mob-2x-500.webp 2x,
        ./img/hotel-hero/hotel-hero-slider-1-mob-3x-750.webp 3x,
        " media="(min-width:375)and(max-width:767)" type="image/webp"/>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-1-mob-1x-250.jpg 1x,
        ./img/hotel-hero/hotel-hero-slider-1-mob-2x-500.jpg 2x,
        ./img/hotel-hero/hotel-hero-slider-1-mob-3x-750.jpg 3x,
        " media="(min-width:375)and(max-width:767)" type="image/jpg"/>
        <img src="./img/hotel-hero/hotel-hero-slider-1-mob-1x-250.jpg" alt="mobile-slider1"/>
      </picture>
      <picture>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-2-mob-1x-250.webp 1x,
        ./img/hotel-hero/hotel-hero-slider-2-mob-2x-500.webp 2x,
        ./img/hotel-hero/hotel-hero-slider-2-mob-3x-750.webp 3x,
        " media="(min-width:375)and(max-width:767)" type="image/webp"/>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-2-mob-1x-250.jpg 1x,
        ./img/hotel-hero/hotel-hero-slider-2-mob-2x-500.jpg 2x,
        ./img/hotel-hero/hotel-hero-slider-2-mob-3x-750.jpg 3x,
        " media="(min-width:375)and(max-width:767)" type="image/jpg"/>
        <img src="./img/hotel-hero/hotel-hero-slider-2-mob-1x-250.jpg" alt="mobile-slider2"/>
      </picture>
      <picture>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-3-mob-1x-250.webp 1x,
        ./img/hotel-hero/hotel-hero-slider-3-mob-2x-500.webp 2x,
        ./img/hotel-hero/hotel-hero-slider-3-mob-3x-750.webp 3x,
        " media="(min-width:375)and(max-width:767)" type="image/webp"/>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-3-mob-1x-250.jpg 1x,
        ./img/hotel-hero/hotel-hero-slider-3-mob-2x-500.jpg 2x,
        ./img/hotel-hero/hotel-hero-slider-3-mob-3x-750.jpg 3x,
        " media="(min-width:375)and(max-width:767)" type="image/jpg"/>
        <img src="./img/hotel-hero/hotel-hero-slider-3-mob-1x-250.jpg" alt="mobile-slider3"/>
      </picture>
    </div>
    <div class="hero-hotel-slider-tab">
      <picture>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-1-tab-1x-436.webp 1x,
        ./img/hotel-hero/hotel-hero-slider-1-tab-2x-872.webp 2x,
        ./img/hotel-hero/hotel-hero-slider-1-tab-3x-1308.webp 3x,
        " media="(min-width:768)and(max-width:1439)" type="image/webp"/>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-1-tab-1x-436.jpg 1x,
        ./img/hotel-hero/hotel-hero-slider-1-tab-2x-872.jpg 2x,
        ./img/hotel-hero/hotel-hero-slider-1-tab-3x-1308.jpg 3x,
        " media="(min-width:768)and(max-width:1439)" type="image/jpg"/>
        <img src="./img/hotel-hero/hotel-hero-slider-1-tab-1x-436.jpg" alt="tablet-slider1"/>
      </picture>
      <picture>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-2-tab-1x-436.webp 1x,
        ./img/hotel-hero/hotel-hero-slider-2-tab-2x-872.webp 2x,
        ./img/hotel-hero/hotel-hero-slider-2-tab-3x-1308.webp 3x,
        " media="(min-width:768)and(max-width:1439)" type="image/webp"/>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-2-tab-1x-436.jpg 1x,
        ./img/hotel-hero/hotel-hero-slider-2-tab-2x-872.jpg 2x,
        ./img/hotel-hero/hotel-hero-slider-2-tab-3x-1308.jpg 3x,
        " media="(min-width:768)and(max-width:1439)" type="image/jpg"/>
        <img src="./img/hotel-hero/hotel-hero-slider-2-tab-1x-436.jpg" alt="tablet-slider2"/>
      </picture>
      <picture>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-3-tab-1x-436.webp 1x,
        ./img/hotel-hero/hotel-hero-slider-3-tab-2x-872.webp 2x,
        ./img/hotel-hero/hotel-hero-slider-3-tab-3x-1308.webp 3x,
        " media="(min-width:768)and(max-width:1439)" type="image/webp"/>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-3-tab-1x-436.jpg 1x,
        ./img/hotel-hero/hotel-hero-slider-3-tab-2x-872.jpg 2x,
        ./img/hotel-hero/hotel-hero-slider-3-tab-3x-1308.jpg 3x,
        " media="(min-width:768)and(max-width:1439)" type="image/jpg"/>
        <img src="./img/hotel-hero/hotel-hero-slider-3-tab-1x-436.jpg" alt="tablet-slider3"/>
      </picture>
    </div>
    <div class="hero-hotel-slider-desc">
      <picture>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-1-desc-1x-436.webp 1x,
        ./img/hotel-hero/hotel-hero-slider-1-desc-2x-872.webp 2x,
        ./img/hotel-hero/hotel-hero-slider-1-desc-3x-1308.webp 3x,
        " media="(min-width:1440)and(max-width:none)" type="image/webp"/>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-1-desc-1x-436.jpg 1x,
        ./img/hotel-hero/hotel-hero-slider-1-desc-2x-872.jpg 2x,
        ./img/hotel-hero/hotel-hero-slider-1-desc-3x-1308.jpg 3x,
        " media="(min-width:1440)and(max-width:none)" type="image/jpg"/>
        <img src="./img/hotel-hero/hotel-hero-slider-1-desc-1x-436.jpg" alt="desc-slider1"/>
      </picture>
      <picture>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-2-desc-1x-436.webp 1x,
        ./img/hotel-hero/hotel-hero-slider-2-desc-2x-872.webp 2x,
        ./img/hotel-hero/hotel-hero-slider-2-desc-3x-1308.webp 3x,
        " media="(min-width:1440)and(max-width:none)" type="image/webp"/>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-2-desc-1x-436.jpg 1x,
        ./img/hotel-hero/hotel-hero-slider-2-desc-2x-872.jpg 2x,
        ./img/hotel-hero/hotel-hero-slider-2-desc-3x-1308.jpg 3x,
        " media="(min-width:1440)and(max-width:none)" type="image/jpg"/>
        <img src="./img/hotel-hero/hotel-hero-slider-2-desc-1x-436.jpg" alt="desc-slider2"/>
      </picture>
      <picture>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-3-desc-1x-436.webp 1x,
        ./img/hotel-hero/hotel-hero-slider-3-desc-2x-872.webp 2x,
        ./img/hotel-hero/hotel-hero-slider-3-desc-3x-1308.webp 3x,
        " media="(min-width:1440)and(max-width:none)" type="image/webp"/>
        <source srcset="
        ./img/hotel-hero/hotel-hero-slider-3-desc-1x-436.jpg 1x,
        ./img/hotel-hero/hotel-hero-slider-3-desc-2x-872.jpg 2x,
        ./img/hotel-hero/hotel-hero-slider-3-desc-3x-1308.jpg 3x,
        " media="(min-width:1440)and(max-width:none)" type="image/jpg"/>
        <img src="./img/hotel-hero/hotel-hero-slider-3-desc-1x-436.jpg" alt="desc-slider3"/>
      </picture>
    </div>
    <p class="hero2-text">Whether you're in the mood for a hearty breakfast, a light lunch, or a romantic dinner, our menu has something for everyone.</p>
</section>
