<!-- Section Triple room Hotel page -->
<section>
  <img
    srcset="
      ../../img/triple-room/trpl_room.jpg,
      ../../img/trpl-room/dbl_room_2x.jpg
    "
    src="../../img/triple-room/trpl_room.jpg"
    alt="double-room"
    width="335"
    height="468"
  />
  <ul>
    <li>
      <img
        srcset="
          ../../img/triple-room/trpl_bathroom.jpg,
          ../../img/triple-room/trpl_bathroom_2x.jpg
        "
        src="../../img/triple-room/trpl_bathroom.jpg"
        alt="bathroom"
        width="158"
        height="149"
      />
    </li>
    <li>
      <img
        srcset="
          ../../img/triple-room/trpl_kitchen.jpg,
          ../../img/triple-room/trpl_kitchen_2x.jpg
        "
        src="../../img/triple-room/trpl_kitchen.jpg"
        alt="kitchen"
        width="158"
        height="149"
      />
    </li>
  </ul>
  <h2>TRIPLE ROOM</h2>
  <p>
    Escape to our spacious Triple Room, perfect for families or groups. Enjoy
    comfort with three beds, seating area, stunning views, flat-screen TVs,
    Wi-Fi, and mini-fridge.
  </p>
  <p>
    Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book
    now for a memorable stay.
  </p>
  <ul>
    <li><button type="button">More details</button></li>
    <li><button type="button">View prices</button></li>
  </ul>
</section>
