<!-- Section Triple room Hotel page -->
<section>
  <div class="thumb">
    <picture>
      <source
        srcset="
          ../../img/triple-room/trpl_room.jpg,
          ../../img/triple-room/trpl_room_2x.jpg
        "
        media="(max-width: 768px)"
        sizes="(max-width: 480px)"
      />
      <source
        srcset="
          ../../img/triple-room/trpl_room_768.jpg,
          ../../img/triple-room/trpl_room_768_2x.jpg
        "
        media="(max-width: 1440px)"
        sizes="(max-width: 331px)"
      />
      <source
        srcset="
          ../../img/triple-room/trpl_room_1440.jpg,
          ../../img/triple-room/trpl_room_1440_2x.jpg
        "
        media="(min-width: 1441px)"
        sizes="(max-width: 539px)"
      />
      <img src="../../img/triple-room/trpl_room.jpg" alt="double-room" />
    </picture>
  </div>
  <ul>
    <li>
      <picture>
        <source
          srcset="
            ../../img/triple-room/trpl_bathroom.jpg,
            ../../img/triple-room/trpl_bathroom_2x.jpg
          "
          media="(max-width: 768px)"
          sizes="(max-width: 158px)"
        />
        <source
          srcset="
            ../../img/triple-room/trpl_bathroom_768.jpg,
            ../../img/triple-room/trpl_bathroom_768_2x.jpg
          "
          media="(max-width: 1440px)"
          sizes="(max-width: 223px)"
        />
        <source
          srcset="
            ../../img/triple-room/trpl_bathroom_1440.jpg,
            ../../img/triple-room/trpl_bathroom_1440_2x.jpg
          "
          media="(min-width: 1441px)"
          sizes="(max-width: 387px)"
        />
        <img src="../../img/triple-room/trpl_bathroom.jpg" alt="bathroom" />
      </picture>
    </li>
    <li>
      <picture>
        <source
          srcset="
            ../../img/triple-room/trpl_kitchen.jpg,
            ../../img/triple-room/trpl_kitchen_2x.jpg
          "
          media="(max-width: 768px)"
          sizes="(max-width: 158px)"
        />

        <source
          srcset="
            ../../img/triple-room/trpl_kitchen_768.jpg,
            ../../img/triple-room/trpl_kitchen_768_2x.jpg
          "
          media="(max-width: 1440px)"
          sizes="(max-width: 341px)"
        />

        <source
          srcset="
            ../../img/triple-room/trpl_kitchen_1440.jpg,
            ../../img/triple-room/trpl_kitchen_1440_2x.jpg
          "
          media="(min-width: 1441px)"
          sizes="(max-width: 387px)"
        />
        <img src="../../img/triple-room/trpl_kitchen.jpg" alt="kitchen" />
      </picture>
    </li>
  </ul>
  <h2>TRIPLE ROOM</h2>
  <p>
    Escape to our spacious Triple Room, perfect for families or groups. Enjoy
    comfort with three beds, seating area, stunning views, flat-screen TVs,
    Wi-Fi, and mini-fridge.
  </p>
  <p>
    Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book
    now for a memorable stay.
  </p>
  <ul>
    <li><button type="button">More details</button></li>
    <li><button type="button">View prices</button></li>
  </ul>
</section>
