/* Section Four room Hotel page */
.section-room-four {
  margin: 0 auto;
}

.four-foto-first {
  width: 335px;
}

.four-foto-second {
  width: 158px;
  height: 100%;
}

.four-foto-third {
  width: 158px;
  height: 100%;
}
.room-four-fotos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-bottom: 32px;
}

.room-four-foto-box {
  display: flex;
  width: 335px;
  height: 149px;
  column-gap: 19px;
}

.room-four-title {
  margin-bottom: 32px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #121212;
}

.roome-four-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #121212;
}

.roome-four-text:not(:last-child) {
  margin-bottom: 24px;
}

.roome-four-text:last-child {
  margin-bottom: 28px;
}

.room-four-btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.btn-four-price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  border-radius: 32px;
  border: 0.8px solid var(--dark-theme-color-primary);
}

.four-link-details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--dark-theme-color-primary);
  cursor: pointer;
  border-radius: 32px;
  border: 0.8px solid var(--dark-theme-color-primary);
}

@media screen and (min-width: 768px) {
  .room-four-foto-box {
    flex-direction: column;
  }

  .four-foto-first {
    order: 2;
    width: 331px;
    margin-left: 32px;
  }

  .four-foto-second {
    width: 223px;
    height: 261px;
    margin-bottom: 32px;
    margin-left: 118px;
  }

  .four-foto-third {
    width: 341px;
    height: 175px;
  }

  .room-four-btn-list {
    justify-content: end;
  }

  .btn-four-price {
    line-height: normal;
  }
}

@media screen and (min-width: 1440px) {
  .room-four-fotos {
    /*position: relative;*/
  }

  .room-four-foto-box {
    position: relative;
    /*top: 0;*/

    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .four-foto-first {
    width: 539px;
    margin-left: 0;
  }

  .four-foto-second {
    position: absolute;
    right: 0;
    top: 151px;
    width: 387px;
    height: 100%;
    margin-left: 0;
    margin-bottom: 0;
    order: 2;
  }

  .four-foto-third {
    position: absolute;
    top: 196px;
    width: 386px;
    height: 100%;
  }
}
