.room-four {}

section {
    padding: 100px 0px;
}

.container {
    width: 1376px;
    padding: 0px 32px;
    margin-left: auto;
    margin-right: auto;
}

.image-collage {
    margin-bottom: 50px;
}

.image-collage__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.image-collage__item {}

.room-four__text {
    display: flex;
    flex-direction: column;
}

.room-four__text__header {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
    margin-bottom: 40px;
}

.room-four__text__additional {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;

    color: #121212;
    text-transform: uppercase;
}

.room-four__list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.room-four__item {}

.room-four__item:not(:last-child) {
    margin-right: 14px;
}

.room-four__button {
    padding: 9px 24px;
    gap: 10px;

    height: 42px;

    border: 0.8px solid #121212;
    background-color: #fff;
    border-radius: 32px;


    font-weight: 400;
    font-size: 18px;
    line-height: 1.25;

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}