<!-- Section About Main page -->


<section class="section-2-about-main">
  <div class="container">
      <div class="about-main-position">
        <h2 class="visually-hidden">About restaurant and hotel</h2>
          <!-- First picture -->

        <div class="section-2-part-1">

          <div class="first-picture">
            <picture loading="lazy">
              <source 
              srcset="
              ./img/main-about/about-main-1-1x-335.jpg 1x,
              ./img/main-about/about-main-1-2x-670.jpg 2x,
              ./img/main-about/about-main-1-3x-1005.jpg 3x
              " 
              type="image/jpeg"
              >
              <source
              srcset="
              ./img/main-about/about-main-1-1x-482.jpg 1x,
              ./img/main-about/about-main-1-2x-964.jpg 2x,
              ./img/main-about/about-main-1-3x-1446.jpg 3x
              "
              type="image/jpeg"
              >
              <source 
              srcset="
              ./img/main-about/about-main-1-1x-335.webp 1x,
              ./img/main-about/about-main-1-2x-670.webp 2x,
              ./img/main-about/about-main-1-3x-1005.webp 3x
              " 
              type="image/webp"
              >
              <source
              srcset="
              ./img/main-about/about-main-1-1x-482.webp 1x,
              ./img/main-about/about-main-1-2x-964.webp 2x,
              ./img/main-about/about-main-1-3x-1446.webp 3x
              "
              type="image/webp"
              >
              <img>
            </picture>
          </div>
          <!-- Comment Maria-->
          <div class="review-background-1">
            <picture class="review-picture" loading="lazy">
              <source 
              srcset="
              ./img/main-about/about-main-comment-1-1x-41.png 1x,
              ./img/main-about/about-main-comment-1-2x-82.png 2x,
              ./img/main-about/about-main-comment-1-3x-123.png 3x
              " 
              type="image/png">
              <source 
              srcset="
              ./img/main-about/about-main-comment-1-1x-41.webp 1x,
              ./img/main-about/about-main-comment-1-2x-82.webp 2x,
              ./img/main-about/about-main-comment-1-3x-123.webp 3x
              " 
              type="image/webp">
              <img>
            </picture>
            <div class="review-content">
              <p class="review-title">Maria</p>
              <p class="review-text">give rating <span class="review-rating">4.5</span></p>
            </div>
          </div>
          
<!--------------------------- Second picture ------------------------------>
          <div class="second-picture">
            <picture loading="lazy">
              <source 
              srcset="
              ./img/main-about/about-main-2-1x-282.jpg 1x,
              ./img/main-about/about-main-2-2x-564.jpg 2x,
              ./img/main-about/about-main-2-3x-846.jpg 3x
              " 
              type="image/jpeg"
              >
              <source
              srcset="
              ./img/main-about/about-main-2-1x-404.jpg 1x,
              ./img/main-about/about-main-2-2x-808.jpg 2x,
              ./img/main-about/about-main-2-3x-1212.jpg 3x
              "
              type="image/jpeg"
              >
              <source
              srcset="
              ./img/main-about/about-main-2-1x-439.jpg 1x,
              ./img/main-about/about-main-2-2x-878.jpg 2x,
              ./img/main-about/about-main-2-3x-1317.jpg 3x
              "
              type="image/jpeg"
              >
              <source 
              srcset="
              ./img/main-about/about-main-2-1x-282.webp 1x,
              ./img/main-about/about-main-2-2x-564.webp 2x,
              ./img/main-about/about-main-2-3x-846.webp 3x
              " 
              type="image/webp"
              >
              <source
              srcset="
              ./img/main-about/about-main-2-1x-404.webp 1x,
              ./img/main-about/about-main-2-2x-808.webp 2x,
              ./img/main-about/about-main-2-3x-1212.webp 3x
              "
              type="image/webp"
              >
              <source
              srcset="
              ./img/main-about/about-main-2-1x-439.webp 1x,
              ./img/main-about/about-main-2-2x-878.webp 2x,
              ./img/main-about/about-main-2-3x-1317.webp 3x
              "
              type="image/webp"
              >
              <img>
            </picture>
          </div>
          <!-- Text about restaurant-hotel complex -->
          <div class="about-main-content-1">
            <h3 class="about-main-title">RESTAURANT-HOTEL COMPLEX</h3>
            <div class="about-main-text-1">
              <p class="about-main-text-1-paragraph">
                  Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest seafood to the most succulent steaks, every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.
              </p>
              <p class="about-main-text-1-paragraph">
                  Treat yourself to a taste of the good life and come dine with us today!
              </p>
            </div>
          </div>

        </div>
        
        
    <!-------------------------- Third picture ---------------------------------->
        <div class="section-2-part-2">
          
          <div class="third-picture">
            <picture loading="lazy">
              <source 
              srcset="
              ./img/main-about/about-main-3-1x-335.jpg 1x,
              ./img/main-about/about-main-3-2x-670.jpg 2x,
              ./img/main-about/about-main-3-3x-1005.jpg 3x
              " 
              type="image/jpeg"
              >
              <source
              srcset="
              ./img/main-about/about-main-3-1x-530.jpg 1x,
              ./img/main-about/about-main-3-2x-1060.jpg 2x,
              ./img/main-about/about-main-3-3x-1590.jpg 3x
              "
              type="image/jpeg"
              >
              <source 
              srcset="
              ./img/main-about/about-main-3-1x-335.webp 1x,
              ./img/main-about/about-main-3-2x-670.webp 2x,
              ./img/main-about/about-main-3-3x-1005.webp 3x
              " 
              type="image/webp"
              >
              <source
              srcset="
              ./img/main-about/about-main-3-1x-530.webp 1x,
              ./img/main-about/about-main-3-2x-1060.webp 2x,
              ./img/main-about/about-main-3-3x-1590.webp 3x
              "
              type="image/webp"
              >
              <img>
            </picture>
          </div>
            <!-- Comment Alexander -->
          <div class="review-background-2">
            <picture class="review-picture" loading="lazy">
              <source 
              srcset="
              ./img/main-about/about-main-comment-2-1x-41.png 1x,
              ./img/main-about/about-main-comment-2-2x-82.png 2x,
              ./img/main-about/about-main-comment-2-3x-123.png 3x
              "
              type="image/png">
              <source 
              srcset="
              ./img/main-about/about-main-comment-2-1x-41.webp 1x,
              ./img/main-about/about-main-comment-2-2x-82.webp 2x,
              ./img/main-about/about-main-comment-2-3x-123.webp 3x
              " 
              type="image/webp">
              <img>
            </picture>
            <div class="review-content">
              <p class="review-title">Alexander</p>
              <p class="review-text">give rating <span class="review-rating">5.5</span></p>
            </div>
          </div>
          
          
          <!-- Text about business class hotel -->
          <div class="fourth-picture-content-position">
            <div class="about-main-content-2">
              <h3 class="about-main-title">BUSINESS CLASS HOTEL</h3>
              <p class="about-main-text-2">
                  The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.
              </p>
            </div>
            <!-------------------------- Fourth picture ---------------------------------->
            <div class="fourth-picture">
              <picture loading="lazy">
                <source 
                srcset="
                ./img/main-about/about-main-4-1x-266.jpg 1x,
                ./img/main-about/about-main-4-2x-532.jpg 2x,
                ./img/main-about/about-main-4-3x-798.jpg 3x
                " 
                type="image/jpeg"
                >
                <source
                srcset="
                ./img/main-about/about-main-4-1x-335.jpg 1x,
                ./img/main-about/about-main-4-2x-670.jpg 2x,
                ./img/main-about/about-main-4-3x-1005.jpg 3x
                "
                type="image/jpeg"
                >
                <source 
                srcset="
                ./img/main-about/about-main-4-1x-266.webp 1x,
                ./img/main-about/about-main-4-2x-532.webp 2x,
                ./img/main-about/about-main-4-3x-798.webp 3x
                " 
                type="image/webp"
                >
                <source
                srcset="
                ./img/main-about/about-main-4-1x-335.webp 1x,
                ./img/main-about/about-main-4-2x-670.webp 2x,
                ./img/main-about/about-main-4-3x-1005.webp 3x
                "
                type="image/webp"
                >
                <img>
              </picture>
            </div>
          </div>
        
        </div>
      </div>
    </div>
</section>