<!-- Section About Main page -->


<!-- First and second picture -->
<section>
    <h2 class="visually-hidden">About restaurant and hotel</h2>
    <div>
      <div>
        <picture>
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <img src=".jpg" alt="">
        </picture>
      </div>
      <div>
        <picture>
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <img src=".jpg" alt="">
        </picture>
      </div>
      <div>
        <!-- Comment Maria-->
        <div>
          <p>Maria</p>
          <p>give rating <span>4.5</span></p>
        </div>
        <picture>
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <img src=".jpg" alt="">
        </picture>
      </div>
      <!-- Text about restaurant-hotel complex -->
      <div>
        <h3>RESTAURANT-HOTEL COMPLEX</h3>
        <p>
            Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest seafood to the most succulent steaks, every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.
        </p>
        <p>
            Treat yourself to a taste of the good life and come dine with us today!
        </p>
      </div>
    </div>
    
    
<!-- Third and fourth picture -->
    <div>
      <div>
        <picture>
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <img src=".jpg" alt="">
        </picture>
      </div>
      <div>
        <picture>
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <img src=".jpg" alt="">
        </picture>
      </div>
      <div>
        <!-- Comment Alexander -->
        <div>
          <p>Alexander</p>
          <p>give rating <span>5.5</span></p>
        </div>
        <picture>
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <source srcset=".webp 1x, .webp 2x" media="" type="image/webp">
          <source srcset=".jpg 1x, .jpg 2x" media="" type="image/jpeg">
          <img src=".jpg" alt="">
        </picture>
      </div>
      <!-- Text about business class hotel -->
      <div>
        <h3>BUSINESS CLASS HOTEL</h3>
        <p>
            The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.
        </p>
      </div>
    </div>

</section>