<!-- Section About Main page -->

<section>
    <h4>RESTAURANT-HOTEL COMPLEX</h4>
    <p>Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest seafood to the most succulent steaks, every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.</p>
    <p>
        Treat yourself to a taste of the good life and come dine with us today!
    </p>

    <h4>BUSINESS CLASS HOTEL</h4>
    <p>The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.</p>
</section>