<!-- Header -->
<div class="container">
  <div class="header-box">
    <button
      type="button"
      class="mobile-menu-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      data-menu-open-main
    >
      <svg class="mobile-menu-icon">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <nav class="header-navigation">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="./index.html" class="header-nav-link current link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="./hotel.html" class="header-nav-link link">Hotel</a>
        </li>
        <li class="header-nav-item">
          <a href="./restaurant.html" class="header-nav-link link"
            >Restaurant</a
          >
        </li>
      </ul>
    </nav>
    <a href="./index.html" class="logo-header link"
      >Mimino<br /><span class="logo-header-piece"
        >restaurant-hotel complex</span
      ></a
    >
    <ul class="header-soc-list">
      <li class="header-soc-item">
        <a
          href="https://www.instagram.com"
          class="header-soc-link link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="header-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a
          href="https://www.facebook.com"
          class="header-soc-link link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="header-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a
          href="https://www.twitter.com"
          class="header-soc-link link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="header-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
