<!-- Hero Section Main page -->
<section class="hero">
    <div class="hero-image">
      <picture>
        <source srcset="hero-main-img-mob-1x-335.webp 1x, hero-main-img-mob-1x-670.webp 2x, hero-main-img-mob-1x-1005.webp 3x" media="(min-width:375px)and(max-width:767px)" type="image/webp"/>
        <source srcset="hero-main-img-mob-1x-335.jpg 1x, hero-main-img-mob-1x-670.jpg 2x, hero-main-img-mob-1x-1005.jpg 3x" media="(min-width:375px)and(max-width:767px)" type="image/jpg"/>
        <img src="./img/main-hero/hero-main-img-mob-1x-335.jpg" alt="Kit"/>
      </picture>
    </div>
    <div class="hero-image-tab">
      <picture>
        <source srcset="hero-main-img-tab-1x-542.webp 1x, hero-main-img-tab-2x-1084.webp 2x, hero-main-img-tab-3x-1626.webp 3x" media="(min-width:768px)and(max-width:1439px)" type="image/webp"/>
        <source srcset="hero-main-img-tab-1x-542.jpg 1x, hero-main-img-tab-2x-1084.jpg 2x, hero-main-img-tab-3x-1626.jpg 3x" media="(min-width:768px)and(max-width:1439px)" type="image/jpg"/>
        <img src="./img/main-hero/hero-main-img-tab-1x-542.jpg" alt="Kit-tab"/>
      </picture>
    </div>
    <div class="hero-image-desc">
      <picture>
        <source srcset="hero-main-img-desc-1x-542.webp 1x, hero-main-img-desc-2x-1084.webp 2x, hero-main-img-desc-3x-1626.webp 3x" media="(min-width:1440px)and(max-width:none)" type="image/webp"/>
        <source srcset="hero-main-img-desc-1x-542.jpg 1x, hero-main-img-desc-2x-1084.jpg 2x, hero-main-img-desc-3x-1626.jpg 3x" media="(min-width:1440px)and(max-width:none)" type="image/jpg"/>
        <img src="./img/main-hero/hero-main-img-desc-1x-542.jpg" alt="Kit-desc"/>
      </picture>
    </div>
    <div class="hero-test">
      <h1 class="hero-title">Mimino</h1>
      <div class="hero-info">
        <ul class="hero-text">
          <li class="hero-text-item">
            <p class="hero-text-items">Whether you're in the mood for a hearty breakfast, a light lunch, or a romantic dinner, our menu has something for everyone.</p>
          </li>
          <li class="hero-text-item">
            <p class="hero-text-items">At Hotel Mimino, we believe that great food should be available to everyone, no matter the time of day.</p>
          </li>
        </ul>
        <ul class="hero-buttons">
          <li class="hero-buttons-item">
            <button type="button" class="hero-button btn button-black" data-modal-room-open-a>Book a room</button>
          </li>
          <li class="hero-buttons-item">
            <button type="button" class="hero-button btn button-black" data-modal-table-open-a>Book a table</button>
          </li>
        </ul>
      </div>
    </div>
</section>
