<!-- Section Hotel's details Main page -->
<section class="section section-hotel-main">
  <div class="container hotel-main-container">
    <div>
      <div class="hotel-main">
        <h2 class="hotel-main-title title">Hotel</h2>
        <p class="hotel-main-subtitle">
          Book your stay with us now and experience the epitome of comfort and
          luxury at our hotel. We guarantee you'll be thrilled with your
          decision.
        </p>
      </div>
      <div class="hotel-main-img">
        <div class="hotel-main-item-first">
          <picture>
            <source
              srcset="
                ./img/main-hotel/main-hotel-3-1x-320.webp   320w,
                ./img/main-hotel/main-hotel-3-1x-335.webp   335w,
                ./img/main-hotel/main-hotel-3-1x-420.webp   420w,
                ./img/main-hotel/main-hotel-3-2x-640.webp   640w,
                ./img/main-hotel/main-hotel-3-2x-670.webp   670w,
                ./img/main-hotel/main-hotel-3-2x-840.webp   840w,
                ./img/main-hotel/main-hotel-3-3x-960.webp   960w,
                ./img/main-hotel/main-hotel-3-3x-1005.webp 1005w,
                ./img/main-hotel/main-hotel-3-3x-1260.webp 1260w
              "
              sizes="(min-width: 1440px) 672px, (min-width: 768px) 704px, (min-width: 375px) 335px, 100vw"
              type="image/webp"
            />
            <source
              srcset="
                ./img/main-hotel/main-hotel-3-1x-320.jpg   320w,
                ./img/main-hotel/main-hotel-3-1x-335.jpg   335w,
                ./img/main-hotel/main-hotel-3-1x-420.jpg   420w,
                ./img/main-hotel/main-hotel-3-2x-640.jpg   640w,
                ./img/main-hotel/main-hotel-3-2x-670.jpg   670w,
                ./img/main-hotel/main-hotel-3-2x-840.jpg   840w,
                ./img/main-hotel/main-hotel-3-3x-960.jpg   960w,
                ./img/main-hotel/main-hotel-1-3x-1005.jpg 1005w,
                ./img/main-hotel/main-hotel-1-3x-1260.jpg 1260w
              "
              sizes="(min-width: 1440px) 672px, (min-width: 768px) 704px, (min-width: 375px) 335px, 100vw"
              type="image/jpeg"
            />
            <img src="./img/main-hotel/main-hotel-3-3x-1260.jpg" alt="lounge" />
          </picture>
        </div>
        <div class="hotel-main-item-second">
          <div class="img-two">
            <picture>
              <source
                srcset="
                  ./img/main-hotel/main-hotel-1-1x-158.webp 158w,
                  ./img/main-hotel/main-hotel-1-1x-176.webp 176w,
                  ./img/main-hotel/main-hotel-1-2x-316.webp 316w,
                  ./img/main-hotel/main-hotel-1-1x-320.webp 320w,
                  ./img/main-hotel/main-hotel-1-2x-352.webp 352w,
                  ./img/main-hotel/main-hotel-1-3x-474.webp 474w,
                  ./img/main-hotel/main-hotel-1-3x-528.webp 528w,
                  ./img/main-hotel/main-hotel-1-2x-640.webp 640w,
                  ./img/main-hotel/main-hotel-1-3x-960.webp 960w
                "
                sizes="(min-width: 1440px) 672px, (min-width: 768px) 704px, (min-width: 375px) 335px, 100vw"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/main-hotel/main-hotel-1-1x-158.jpg 158w,
                  ./img/main-hotel/main-hotel-1-1x-176.jpg 176w,
                  ./img/main-hotel/main-hotel-1-2x-316.jpg 316w,
                  ./img/main-hotel/main-hotel-1-1x-320.jpg 320w,
                  ./img/main-hotel/main-hotel-1-2x-352.jpg 352w,
                  ./img/main-hotel/main-hotel-1-3x-474.jpg 474w,
                  ./img/main-hotel/main-hotel-1-3x-528.jpg 528w,
                  ./img/main-hotel/main-hotel-1-2x-640.jpg 640w,
                  ./img/main-hotel/main-hotel-1-3x-960.jpg 960w
                "
                sizes="(min-width: 1440px) 672px, (min-width: 768px) 704px, (min-width: 375px) 335px, 100vw"
                type="image/jpeg"
              />
              <img
                src="./img/main-hotel/main-hotel-1-3x-960.jpg"
                alt="lounge"
              />
            </picture>
          </div>
          <div class="img-three">
            <picture>
              <source
                srcset="
                  ./img/main-hotel/main-hotel-2-1x-157.webp 157w,
                  ./img/main-hotel/main-hotel-2-1x-176.webp 176w,
                  ./img/main-hotel/main-hotel-2-2x-314.webp 314w,
                  ./img/main-hotel/main-hotel-2-1x-320.webp 320w,
                  ./img/main-hotel/main-hotel-2-2x-352.webp 352w,
                  ./img/main-hotel/main-hotel-2-3x-471.webp 474w,
                  ./img/main-hotel/main-hotel-2-3x-528.webp 528w,
                  ./img/main-hotel/main-hotel-2-2x-640.webp 640w,
                  ./img/main-hotel/main-hotel-2-3x-960.webp 960w
                "
                sizes="(min-width: 1440px) 672px, (min-width: 768px) 704px, (min-width: 375px) 335px, 100vw"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/main-hotel/main-hotel-2-1x-157.jpg 157w,
                  ./img/main-hotel/main-hotel-2-1x-176.jpg 176w,
                  ./img/main-hotel/main-hotel-2-2x-314.jpg 314w,
                  ./img/main-hotel/main-hotel-2-1x-320.jpg 320w,
                  ./img/main-hotel/main-hotel-2-2x-352.jpg 352w,
                  ./img/main-hotel/main-hotel-2-3x-471.jpg 474w,
                  ./img/main-hotel/main-hotel-2-3x-528.jpg 528w,
                  ./img/main-hotel/main-hotel-2-2x-640.jpg 640w,
                  ./img/main-hotel/main-hotel-2-3x-960.jpg 960w
                "
                sizes="(min-width: 1440px) 672px, (min-width: 768px) 704px, (min-width: 375px) 335px, 100vw"
                type="image/jpeg"
              />
              <img
                src="./img/main-hotel/main-hotel-2-3x-960.jpg"
                alt="lounge"
              />
            </picture>
          </div>
        </div>
        <div class="hotel-main-item-last">
          <div class="img-four">
            <picture>
              <source
                srcset="
                  ./img/main-hotel/main-hotel-4-1x-158.webp 158w,
                  ./img/main-hotel/main-hotel-4-1x-176.webp 176w,
                  ./img/main-hotel/main-hotel-4-2x-316.webp 316w,
                  ./img/main-hotel/main-hotel-4-1x-320.webp 320w,
                  ./img/main-hotel/main-hotel-4-2x-352.webp 352w,
                  ./img/main-hotel/main-hotel-4-3x-474.webp 474w,
                  ./img/main-hotel/main-hotel-4-2x-640.webp 640w,
                  ./img/main-hotel/main-hotel-4-3x-528.webp 528w,
                  ./img/main-hotel/main-hotel-4-3x-960.webp 960w
                "
                sizes="(min-width: 1440px) 672px, (min-width: 768px) 704px, (min-width: 375px) 335px, 100vw"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/main-hotel/main-hotel-4-1x-158.jpg 158w,
                  ./img/main-hotel/main-hotel-4-1x-176.jpg 176w,
                  ./img/main-hotel/main-hotel-4-2x-316.jpg 316w,
                  ./img/main-hotel/main-hotel-4-1x-320.jpg 320w,
                  ./img/main-hotel/main-hotel-4-2x-352.jpg 352w,
                  ./img/main-hotel/main-hotel-4-3x-474.jpg 474w,
                  ./img/main-hotel/main-hotel-4-3x-528.jpg 528w,
                  ./img/main-hotel/main-hotel-4-2x-640.jpg 640w,
                  ./img/main-hotel/main-hotel-4-3x-960.jpg 960w
                "
                sizes="(min-width: 1440px) 672px, (min-width: 768px) 704px, (min-width: 375px) 335px, 100vw"
                type="image/jpeg"
              />
              <img
                src="./img/main-hotel/main-hotel-4-3x-960.jpg"
                alt="lounge"
              />
            </picture>
          </div>
          <picture>
            <source
              srcset="
                ./img/main-hotel/main-hotel-5-1x-158.webp 158w,
                ./img/main-hotel/main-hotel-5-1x-176.webp 176w,
                ./img/main-hotel/main-hotel-5-2x-316.webp 316w,
                ./img/main-hotel/main-hotel-5-1x-320.webp 320w,
                ./img/main-hotel/main-hotel-5-2x-352.webp 352w,
                ./img/main-hotel/main-hotel-5-3x-474.webp 474w,
                ./img/main-hotel/main-hotel-5-3x-528.webp 528w,
                ./img/main-hotel/main-hotel-5-2x-640.webp 640w,
                ./img/main-hotel/main-hotel-5-3x-960.webp 960w
              "
              sizes="(min-width: 1440px) 672px, (min-width: 768px) 704px, (min-width: 375px) 335px, 100vw"
              type="image/webp"
            />
            <source
              srcset="
                ./img/main-hotel/main-hotel-5-1x-158.jpg 158w,
                ./img/main-hotel/main-hotel-5-1x-176.jpg 176w,
                ./img/main-hotel/main-hotel-5-2x-316.jpg 316w,
                ./img/main-hotel/main-hotel-5-1x-320.jpg 320w,
                ./img/main-hotel/main-hotel-5-2x-352.jpg 352w,
                ./img/main-hotel/main-hotel-5-3x-474.jpg 474w,
                ./img/main-hotel/main-hotel-5-3x-528.jpg 528w,
                ./img/main-hotel/main-hotel-5-2x-640.jpg 640w,
                ./img/main-hotel/main-hotel-5-3x-960.jpg 960w
              "
              sizes="(min-width: 1440px) 672px, (min-width: 768px) 704px, (min-width: 375px) 335px, 100vw"
              type="image/jpeg"
            />
            <img src="./img/main-hotel/main-hotel-5-3x-960.jpg" alt="lounge" />
          </picture>
        </div>
      </div>
    </div>
    <div class="hotel-main-btn">
      <button type="button" class="book-btn btn button-black">
        Book a room
      </button>
      <a href="#" class="view-btn btn button-black">View rooms</a>
    </div>
  </div>
</section>
