<!-- Section Hotel's details Main page -->
<section class="section section-hotel-main">
  <div class="container hotel-main-container">
    <h2 class="hotel-main-title title">Hotel</h2>
    <p class="hotel-main-subtitle">
      Book your stay with us now and experience the epitome of comfort and
      luxury at our hotel. We guarantee you'll be thrilled with your decision.
    </p>
    <div class="hotel-main-btn">
      <button type="button" class="btn book-btn" data-modal-room-open-b>Book a room</button>
      <a href="./hotel.html" class="view-btn link">View rooms</a>
    </div>
    <div class="hotel-main-img">
      <ul class="hotel-main-list list">
        <li class="hotel-main-item">
          <picture>
            <source srcset="" />
            <img src="http://dummyimage.com/320" alt="bath products" />
          </picture>
        </li>
        <li class="hotel-main-item">
          <picture>
            <source srcset="" />
            <img src="http://dummyimage.com/320" alt="bathroom"
          /></picture>
        </li>
        <li class="hotel-main-item">
          <picture>
            <source srcset="" />
            <img src="http://dummyimage.com/420" alt="bedroom"
          /></picture>
        </li>
        <li class="hotel-main-item">
          <picture>
            <source srcset="" />
            <img src="http://dummyimage.com/320" alt="washbasin"
          /></picture>
        </li>
        <li class="hotel-main-item">
          <picture>
            <source srcset="" />
            <img src="http://dummyimage.com/320" alt="hotel cosmetics"
          /></picture>
        </li>
      </ul>
    </div>
  </div>
</section>
