<!-- Section Location & Contacts Main page -->
<section class="Location">
    <div class="container">
        <h2 class="location-title">location</h2>
        <iframe src="" href="" frameborder="0"></iframe>
        <address class="location-contacts">
            <a class="address-link" 
                href="https://goo.gl/maps/KEu9g1H4w57vBdB19" 
                target="_blank" 
                rel="noopener noreferrer nofollow">Ukraine, Poltava,<br>St. Marshal Biryuzov, 15,</br>
            </a>
            <p class="location-txt">call us:</p>
            <ul class="address-list list">
                <li class="address-item"><a class="address-link link" href="tel:+380955559533">(095) 555 95 33</a></li>
                <li class="address-item"><a class="address-link link"  href="tel:+380668491089">(066) 849 10 89</a></li>
            </ul>
        </address>   
    </div>
</section>
