<!-- Section Welcome Main page -->
<section class="section section-welcome-main">
  <div class="container welcome-container">
    <img
      src="http://dummyimage.com/599"
      srcset="http://dummyimage.com/599 1x, http://dummyimage.com/599 2x"
      alt="lounge"
      width="672"
      height="599"
    />
    <div class="welcome-about">
      <h2 class="welcome-title title">
        Welcome to the epitome of luxury and comfort
      </h2>
      <p class="welcome-subtitle">
        Our hotel rooms are elegantly designed with an eye for detail, ensuring
        that you have everything you need for a relaxing and rejuvenating stay.
      </p>
      <p class="welcome-suptitle">
        Each room is equipped with the latest amenities, including plush
        bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help
        you start your day right. Our spacious bathrooms feature luxurious
        toiletries and towels, so you can pamper yourself in complete privacy.
      </p>
    </div>
  </div>
</section>
