/* Book a Table Modal window */
.modal-table{
    background-color: var(--dark-theme-color-primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 14px 24px;
    width: 320px;
    height: 90%;
    border-radius: 2px;
    z-index: 1000;
}
.modal-container-table{  
    width: 287px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}  
.select{
    position: relative;
}
.select:after {
    border-style: solid;
	border-width: 0.2em 0.2em 0 0;
	content: '';
	display: inline-block;
	height: 0.7em;
	left: 0.3em;
	position: absolute;
	top: 0.3em;
	transform: rotate(135deg);
	vertical-align: top;
	width: 0.7em;
    color: #fff;
    margin-left: 268px;
    margin-top: 3px;
    pointer-events: none;
}
/* book a table */
@media screen and (min-width:375px) {
    .modal-table{
        width: 335px;
        height: 528px;}
    .select::after{
        margin-left: 268px;
    }
    }

@media screen and (min-width:768px){
    .modal-table{
        width: 628px;
        height: 476px;
        margin-top: 60px;
    }
    .modal-container-table{
        display: flex;
        max-width: 580px;
        height: 174px;
        flex-wrap: wrap;
        gap: 40px;
        column-gap: 32px;
    }
}
